<form class="address_form" [formGroup]="cartPoductDetailForm">
  <mat-form-field appearance="outline" class="full_width">
    <mat-label>Comentarios del producto: </mat-label>
    <textarea
      class="textarea"
      cdkFocusInitial
      name="productCartDetail"
      type="text"
      formControlName="productCartDetail"
      matInput
      placeholder="Empaquételo muy bien en una bolsa blanca y que se distinga del resto de productos por ser uno delicado..."
    ></textarea>
  </mat-form-field>

  <!-- <button mat-button [mat-dialog-close]="detailForm.value"  
          class="btn_block"
          [disabled]="!detailForm.valid">Siguiente</button>
   -->

  <div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="cartPoductDetailForm.value"
      [disabled]="!cartPoductDetailForm.valid"
      cdkFocusInitial
    >
      Aceptar
    </button>
  </div>
</form>
