
<br>
<div fxLayout="row" fxLayoutAlign="center stretch" >
    <h1> Historial Órdenes</h1>
</div>
<br>
<ng-container *ngIf="{state$: orderStore.state$ | async} as subs">

    <ng-container 
        *ngIf="subs.state$.request.getOrdersByBuyerId.inProgress ;
        then showLoading ;
        else showOrders ">
    </ng-container>

    <ng-template #showLoading> 
        <div class="grid_loading_display">
           <div class="login_brand_area">
               <h1> 🍒 Dame tu lista</h1>
           </div>
           <div class="loading_symbol_area">

               <mat-spinner >  </mat-spinner>
           </div>
        </div>
         
   </ng-template>
    
    <ng-template #showOrders>
        <div class="container">
            <mat-accordion *ngFor="let order of subs.state$.orderListByBuyerId ">
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel_title_grid">
                            <div class="district_area">
                                <!-- {{order.shipping.address.district}} -->
                                <span 
                                    *ngIf=" order.orderType != 'pickup'">
                                    Delivery
                                </span>
                           
                                <span
                                    *ngIf=" order.orderType == 'pickup'" >
                                    En tienda
                                </span>
                            </div>
                          
                               
                            
                            <div class="buyer_area">
                                S/.{{getPaymentAmountStr(order)}}
                                <!-- <img src="../../../../../assets/icons/payroll-20px.png" alt=""> -->
                                <!-- (click)="openPaymentDetailModal(order)"> -->
                            </div>
    
                            <!-- <img  class="whatapp_img_area" 
                                src="../../../../../assets/icons/whatsapp.svg" alt="">
                                (click)="openWhatsApp(order)"> -->
    
                        </mat-panel-title>
                        
                        <mat-panel-description>
                            <div class="status_grid">
    
                                <div class="cart_area">🛒{{order.cart.length}} </div>
        
                                <div [ngSwitch]="getLastStatus(order.shipping.tracking.orderStatus)" class="status_area">
        
                                    <div *ngSwitchCase="'generated_by_buyer'"  >
                                        <img src="../../../../../assets/icons/double-tick-indicator-not-seen.svg" alt="">
                                    </div>
                                    
                                    <div *ngSwitchCase="'seen_by_retailer'" > 
                                        <img src="../../../../../assets/icons/double-tick-indicator-seen.svg" alt="">
                                    </div>
        
                                    <div *ngSwitchCase="'packaged_by_retailer'">
                                        <img src="../../../../../assets/icons/package-color-20dp.svg" alt="">
                                    </div>
                                </div>
                            </div>
    
                        </mat-panel-description>
            
                    </mat-expansion-panel-header>
                  
                  <!-- <div [ngClass]="[isMobileView ? 'product_list_grid_mobile' : 'product_list_grid_desktop' ]"> -->

                    <span class="orderDetail_title">
                        Detalle de tu órden: 
                    </span>
                    <span class="orderDate_title">
                        {{getOrderGeneratedDate(order)}}
                    </span>

                    <div class="product_list_grid_mobile">
                        <ng-container *ngFor="let productOrder of order.cart">
                        
                            <app-order
                                [order_id]="order._id"
                                [cartProductOrder]="productOrder">
                            </app-order>
                
                        </ng-container>
            
                    </div>
    
                    <!-- <mat-action-row>
                        <button mat-button color="primary" (click)="prevStep()">Anterior</button>
                        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                        <button id="{{i}}"
                            mat-button color="primary" 
                            (click)="setOrderPackagedStatusCompleted(order)"
                            [disabled]="!isOrderCompleted">Atendido</button>
                    </mat-action-row> -->
    
                </mat-expansion-panel>
    
            </mat-accordion>
    
        </div>
    </ng-template>
</ng-container>
  