@import "../../../../styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)

$store_banner_options_text_size: 1.5em
$store_name_text_size: 2.3em
$store_delivery_info_text_size: 1.5em
$store_pick_up_info_text_size: 1.5em
$store_options_text_size: 12px

$primary_filed_color: #565656
$primary_button_color: #43b02b

$background_banner: #00000063

$box_container_size: 320px

* 
  box-sizing: border-box 


.grid_loading_display
  display: grid
  grid-template-columns: 1fr $box_container_size 1fr
  grid-template-rows: 1fr 1fr
  grid-template-areas: ". brand ." ". loading ."
  transform: translateY(100%)
  
  .login_brand_area
    grid-area: brand
    color: mat-color($primary, default, 1)
    h1
      font-size: 30px
      text-align: center
    
  .loading_symbol_area
    grid-area: loading
    justify-self: center
    align-self: center

.store_grid
  display: grid
  margin: 0
  padding: 0
  grid-template-columns: 1fr
  grid-template-rows: 200px 90px 1fr 
  grid-gap: 0em
  grid-template-areas: "banner" "options" "strPrd" 
  z-index: 6  

  .store_banner_area
    grid-area: banner
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr
    grid-template-areas: "___cart" "storeName" "delivery" "pickUp" 
    grid-gap: 0em
    z-index: 3
        
    .store_____cart_area
      grid-area: ___cart
      display: grid
      margin: 0em
      padding 3em
      grid-template-columns: 1fr
      grid-template-rows: 1fr
      grid-template-areas: "cart"
      background-color: $background_banner

      .cart_icon_area
        grid-area: cart
        margin: 13px
        padding: 3px 5px 3px 5px
        font-weight: 100
        font-size: $store_banner_options_text_size
        color: #43b02b
        align-self: center
        justify-self: right
        border-radius: 10px
        background: #ffffff
        cursor: pointer


    .store_name_area
      grid-area: storeName
      font-weight: 800
      font-size: $store_name_text_size
      color: white
      background-color: $background_banner
      .style_store_name
        text-align: center
        margin: 0em
        padding: .5em 0em 0em 0em

    .store_delivery_area
      grid-area: delivery
      font-weight: 700
      font-size: $store_delivery_info_text_size
      color: white
      background-color: $background_banner
      .style_delivery_info
        text-align: center
        margin: 0em
        padding: 1.3em 0em 0em 0em

    .store_pick_up_area
      grid-area: pickUp  
      font-weight: 700
      font-size: $store_pick_up_info_text_size
      color: white
      background-color: $background_banner
      .style_pick_up_info
        text-align: center
        margin: 0em


      
  .product_type_area
    grid-area: prodType

  .store_options_area
    grid-area: options    
    display: grid
    margin: 5px
    grid-template-columns: 1fr
    grid-template-rows: 52px
    grid-template-areas: "categories search"
    grid-gap: 0px

    .season_title_area
      grid-area: season
      font-size: $store_options_text_size
      color: $primary_filed_color
      padding: 0px
      justify-self: center
      

    .category_title_area
      grid-area: categories
      font-size: $store_options_text_size
      // color: $primary_button_color
      // border: 1px solid $primary_button_color
      // border-radius: 4px
      // padding: 4px
      justify-self: center
      align-self: center
      cursor: pointer


    .search_box_area
      grid-area: search
      padding: 0em
      // font-weight: 500
      // font-size: $store_banner_options_text_size
      // color: white
      align-self: rigth
      // background-color: $background_banner
      
      .mat-form-field
        padding: 0em
        // transform: translateY(10%)
  
      .full_width
        width: 100%
                

  .store_products_area
    grid-area: strPrd



    
