@import "../../../../styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)

$store_banner_options_text_size: 24px
$store_name_text_size: 25px
$store_delivery_info_text_size: 13px
$store_pick_up_info_text_size: 13px
$store_options_text_size: 12px
$translateY: -204px

$primary_filed_color: #565656
$primary_button_color: #43b02b

$background_banner: #00000063

$box_container_size: 320px

* 
  box-sizing: border-box 


.grid_loading_display
  display: grid
  grid-template-columns: 1fr $box_container_size 1fr
  grid-template-rows: 1fr 1fr
  grid-template-areas: ". brand ." ". loading ."
  transform: translateY(100%)
  
  .login_brand_area
    grid-area: brand
    color: mat-color($primary, default, 1)
    h1
      font-size: 30px
      text-align: center
      font-family: inherit
    
  .loading_symbol_area
    grid-area: loading
    justify-self: center
    align-self: center

.store_grid
  display: grid
  margin: 0
  padding: 0
  grid-template-columns: 1fr
  grid-template-rows: 250px 200px 15px 1fr
  grid-gap: 0em
  grid-template-areas:  "banner" "img" "strPrd"
  // grid-template-areas:  "banner" "img" "options" "strPrd"
  z-index: 6  

  .bg-image 
    grid-area: img
    // background-image: url("https://scontent-lim1-1.xx.fbcdn.net/v/t1.0-9/50063339_664455337285529_4922438266776453120_o.jpg?_nc_cat=100&ccb=3&_nc_sid=e3f864&_nc_eui2=AeHfCc1QM3wLmmNbPYoRixVwXC-T_docLz1cL5P92hwvPcDDS2G8MpBRLmIchKXDMAY&_nc_ohc=pVR2GAreaEoAX8jSbXd&_nc_ht=scontent-lim1-1.xx&oh=267e6405ae89f15d9c9b2bce08e971de&oe=604C4A2F")
    background-color: rgba(0,0,0, 0.4)
    filter: blur(5px)
    -webkit-filter: blur(1px)
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transform: translateY($translateY)

  .store_banner_area
    grid-area: banner
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr
    grid-template-areas: "___cart" "storeName" "delivery" "pickUp" 
    grid-gap: 0em
    z-index: 20
    background-image: linear-gradient(#000000, #00000000, #000000)
    border-radius: 6px;

    // transform: translateY(-196px)
        
    .store_____cart_area
      grid-area: ___cart
      display: grid
      margin: 0em
      grid-template-columns: 1fr 1fr 70px
      grid-template-rows: 46px
      grid-template-areas: "admin . cart"
      // grid-template-areas: "admin search cart"
      background-color: white
      border-bottom: 1px solid #efeded
      position: fixed
      width: 100%
      border-bottom-left-radius: 14px
      border-bottom-right-radius: 14px
      // transform: translateY(-248px)

      // border-bottom: 1px #c2c2c2 solid


      .admin_mode_area
        grid-area: admin
        display: flex
        margin: 9px
        padding: 3px 5px 3px 5px
        align-self: center
        color: white
        justify-self: self-start
        font-size: 12px
        font-weight: 100
        background: #43b02b
        border-radius: 9px
        cursor: pointer

        .style_admin
          margin: 4px
      
      .buyer_mode_area
        grid-area: admin
        margin: 9px
        padding: 12px 5px 3px 0px
        align-self: center
        color: #43b029
        justify-self: self-start
        font-weight: 100
        // background: #eeececfa
        border-radius: 9px
      
      .search_box_area
        grid-area: search
        padding: 0em
        align-self: flex-start
        // background-color: #ffffffb0
        border-radius: 10px
        margin-top: 10px
        width: 150px
        right: 0px

        .search-icon-right
          position: absolute
          right: 50px
          margin: -4px -0px 08px 0px
          
      
        .mat-form-field
          padding: 0em
    
        .full_width
          width: 100%
          margin: -9px 5px 0px 4px
          height: 40px

      .cart_icon_area
        grid-area: cart
        margin: 13px
        grid-template-areas: "icon quant"
        margin: 10px
        justify-self: end
        align-self: center
        border-radius: 15px
        background-color: transparent
        font-size: 17px
        color: white
        cursor: pointer
        z-index: 4 
        
        .cart_icon_area
          grid-area: icon
          margin: 6px 0px 3px -12px
          z-index: 3


        .quantity_area
          grid-area: quant
          margin: -38px -3px -4px 20px
          border-radius: 22px
          height: 30px
          width: 30px
          text-align: center
          padding: 6px
          background: #43b02b
          

    .store_name_area
      grid-area: storeName
      font-weight: 800
      font-size: $store_name_text_size
      color: white

      // background-color: $background_banner
      .style_store_name
        // text-align: center
        margin: 0em
        padding: 1em 0em 0em .6em

    .store_delivery_area
      grid-area: delivery
      font-weight: 100
      font-size: $store_delivery_info_text_size
      color: white

      // transform: translateY(-248px)

      // background-color: $background_banner
      .style_delivery_info
        text-align: left
        margin: 0em
        padding: 9em 1em 0em 1em
        font-weight: 900

        .style_delivery_tag
          border-radius: 4px
          border: 1px solid white
          font-size: 13px
          background: white
          
    .store_pick_up_area
      grid-area: pickUp  
      font-weight: 100
      font-size: $store_pick_up_info_text_size
      color: white

      // background-color: $background_banner
      .style_pick_up_info
        text-align: left
        margin: 0em
        padding: 0em 1em 0em 1em
        font-weight: 900

        .style_pick_up_tag
          border-radius: 4px
          border: 1px solid white
          font-size: 13px
          background: white



      
  .product_type_area
    grid-area: prodType

  .store_options_area
    grid-area: options    
    display: grid
    margin: 0px 19px
    grid-template-columns: 1fr
    grid-template-rows: 44px
    grid-template-areas: "categories"
    transform: translateY($translateY + 12)
    z-index: 10

    // grid-gap: 0px
    // position: fixed
    // z-index: 4

    .season_title_area
      grid-area: season
      font-size: $store_options_text_size
      color: $primary_filed_color
      padding: 0px
      justify-self: center
      

    .category_title_area
      grid-area: categories
      font-size: $store_options_text_size
      color: $primary_button_color
      // border: 1px solid $primary_button_color
      // border-radius: 4px
      // padding: 4px
      justify-self: self-start
      align-self: center
      cursor: pointer


    // .search_box_area
    //   grid-area: search_origin
    //   padding: 0em
    //   // font-weight: 500
    //   // font-size: $store_banner_options_text_size
    //   // color: white
    //   align-self: flex-start
    //   // background-color: $background_banner
      
    //   .mat-form-field
    //     padding: 0em
    //     // transform: translateY(10%)
  
    //   .full_width
    //     width: 100%
                

  .store_products_area
    grid-area: strPrd
    margin-bottom: 100px
    transform: translateY($translateY)

