<ng-container *ngIf="(retailerStoreStore.state$ | async) as subs">
    <div *ngIf="subs.request.getRetailer.inProgress">Loading...</div>
    <div *ngIf="!subs.request.getRetailer.inProgress">
        <div class="store_grid">
            <div class="store_banner_area" [ngStyle]="{'background-image': subs.retailer.getBannerUrl()}">
                <div class="store_back_cart_area">
                    <div class="back_button_area" (click)="goBackToBuyerAccount()">volver </div>
                    <div class="cart_icon_area"
                        (click)="viewBuyerCart()">cart</div>
                </div>
                <div class="store_name_area">
                    <div class="style_store_name">{{subs.retailer.store.name}}</div>
                </div>
                <div *ngIf="subs.retailer.store.isDeliveryService" 
                    class="store_delivery_area">
                    <div class="style_delivery_info">Delivery: {{subs.retailer.store.deliveryInfo}}</div>
                </div>
                <div *ngIf="subs.retailer.store.isDeliveryService"  
                    class="store_pick_up_area">
                    <div class="style_pick_up_info">Recojo: {{subs.retailer.store.pickUpInfo}}</div>
                </div>
            </div>
            <div class="store_options_area">
                <div class="season_title_area">Productos de temporada</div>
                <div (click)="goToRetailerCategoryView()" class="category_title_area">Categorias</div>
            </div>
            <div class="store_products_area">
                <app-seasonal-products [storeProducts]="subs.retailer.store.productsList"></app-seasonal-products>
            </div>
        
        </div>
    </div>
</ng-container>