<div class="display_type_product_grid">
    <mat-tab-group (selectedTabChange)="filterProductType($event)" mat-align-tabs="center">

        <mat-tab *ngFor='let type of productTypes' label={{type}}>
            
            <!-- before populationg the ngFor, first filter by sendign the parameter of the selected type  -->
            <app-seasonal-products 
                    [storeProducts]="filteredProductTypeList">
            </app-seasonal-products>

        </mat-tab>
      </mat-tab-group>
    
    <!-- <ng-container *ngFor='let type of productTypes'>
       <div class="button_box_style" (click)="openProductType(type)"> {{type}}</div>
    </ng-container> -->


</div>