@import "../../../../styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)
  $warn: map-get($theme, warn)
  $background: map-get($theme, background)
  $foreground: map-get($theme, foreground)


  
.flex_container 
  display: flex
  margin: 10px

  .style_secction
    color: mat-color($primary, default, 1)
    h1
      font-size: 25px
      font-family: inherit

  .style_url
    color: mat-color($primary, default, 1)
    font-size: 21px
    text-align: center
    
  .style_store_name
    color: mat-color($primary, default, 1)
    font-size: 23px
    text-align: center

.flex_container > div 
  color: #727272
  margin: 15px
  line-height: 25px
  font-size: 15px
  max-width: 400px
  
.store .address
  width: 100%
  
.full_width
  width: 100%

.style_box_url_store
  border: #e7f4e7
  border-radius: 48px
  background: #e7f4e7
  border-bottom-style: outset
  border-top-style: outset

.style_setting_field
  margin: 15px auto  

.style_horizontal
  display: flex

.style_margin_right
  margin-left: auto


.mat-flat-button.mat-primary
  color: white

  
