@import "../../../../styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)
  $warn: map-get($theme, warn)
  $background: map-get($theme, background)
  $foreground: map-get($theme, foreground)


  
.flex_container 
  display: flex
  margin: 10px
  align-items: center

  .style_secction
    color: mat-color($primary, default, 1)
    h1
      font-size: 25px

  .style_url
    color: mat-color($primary, default, 1)
    font-size: 21px
    text-align: center
    
  .style_store_name
    color: mat-color($primary, default, 1)
    font-size: 23px
    text-align: center

.flex_container > div 
  color: #727272
  margin: 15px
  line-height: 25px
  font-size: 15px
  max-width: 400px
  
.store .address
  width: 100%
  
.full_width
  width: 100%

.mat-flat-button.mat-primary
  color: white

  
