<div class="box">
    <div class="add-product">
        <form [formGroup]="newProductForm" class="example-form">

            <mat-form-field class="style-new-name">
                <mat-label>Producto</mat-label>
                <input matInput placeholder="Manzanas" formControlName="name">
            </mat-form-field>

            <mat-form-field class="style-new-price">
                <mat-label>Precio</mat-label>
                <span matPrefix>S/. &nbsp;</span>
                <input type="number" matInput placeholder="13.50" formControlName="price">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
            <!-- <div class="example-button-container"> -->
            <button (click)="addProduct(newProductForm.value)" class="style-add-button" mat-mini-fab color="primay"
                [disabled]="!newProductForm.valid" cdkFocusInitial>
                <mat-icon>add</mat-icon>
            </button>
            <!-- </div> -->
        </form>
    </div>
    <div class="product-list">
        <table>
            <!-- <tr>
                <th>Eliminar</th>
                <th>Nombre producto</th>
                <th>Precio</th>
            </tr> -->

            <tr *ngFor="let product of productList; index as index">

                <td>
                    <div>
                        <img (click)="deleteProduct(product.id)" src="../../../assets/icons/delete-15dp.svg" alt="">

                    </div>
                </td>

                <td class="style-name">
                    <editable (update)="updateField(product.id, 'name')">
                        <ng-template viewMode> {{product.name}}</ng-template>
                        <ng-template editMode>
                            <textarea editableOnEnter class="style-name" [formControl]="getControl(product.id, 'name')">
                            </textarea>
                        </ng-template>
                    </editable>
                </td>

                <td class="style-price">
                    <editable (update)="updateField(product.id, 'price')">
                        <ng-template viewMode> {{product.price}}</ng-template>
                        <ng-template editMode>
                            <input editableOnEnter class="style-price" [formControl]="getControl(product.id, 'price')">
                        </ng-template>
                    </editable>
                </td>

            </tr>
        </table>
    </div>
    <div>
        <button (click)="sendBill()" class="send-button">
            <mat-icon class="icon">send</mat-icon>
            Whatsapp
            <button class="style_total_price_button">{{getTotalPrice()}}</button>

        </button>
    </div>


</div>