.box 
  display: flex
  flex-direction: column
  padding-top: 62px
  padding-bottom: 75px;
  align-items: center
 
  .add-product
    flex-wrap: nowrap
    align-items: center
    width: 78%

  .style_total_price_button
    position: fixed
    font-size: 19px
    color: white
    right: 4%
    bottom: 20px
    border-radius: 6px
    border: 5px solid #328221
    background: #328221

.send-button
  position: fixed
  width: 96%
  height: 60px
  bottom: 9px
  left: 2%
  right: 2%
  font-size: 22px
  color: white
  border: 1px solid #43b02b
  border-radius: 8px
  background: #43b02b

.style-new-name
  margin: 5px
  width: 50%

.style-new-price
  margin: 5px
  width: 40%

.style-add-button
  position: absolute
  transform: translate3d(-32px, 11px, 0px)
  color: green

td 
  padding-right: 17px
  align-items: center

  .mat-icon 
  //   transform: translate3d(-20px, 5px, 0px)

.style-name
  width: 140px
  max-width: 160px

.style-price
  width: 70px 
  
.icon
  transform: translate3d(-34px, 5px, 0px)
