<div class="continer_grid">
  <div class="product_area">
    <div class="img_area">
      <img class="" src="{{ cartProduct.maturityImageUrl }}" alt="" />
      <!-- <img src="https://dl.airtable.com/.attachments/4b31c3d5ef04f1e87735e6597dc7303e/f0955165/fuji.jpg" alt=""> -->
    </div>

    <div class="product_name_area">
      <!-- {{cartProduct.categoryName}} - {{cartProduct.varietyName}} -->
      <!-- {{cartProduct.maturityName}} -->
      {{ getNameOfTheProduct() }}
      <!-- <span *ngIf="cartProduct.isOrganic">Orgánico</span>
            <span *ngIf="cartProduct.isOrganic === false">Normal</span> -->
    </div>

    <div class="product_kilo_unit_size_area">
      S/.{{ cartProductPriceStr }}
      <span *ngIf="cartProduct.isKilo" class="style_price_per_unit_or_kg">
        Kg.
      </span>
      <span *ngIf="cartProduct.isUnit" class="style_price_per_unit_or_kg">
        Uni.
      </span>
      <ng-container *ngIf="!hasToppings">
        <span
          *ngIf="cartProduct.isSmallSize"
          class="style_price_per_unit_or_kg"
        >
          / Pequeño
        </span>
        <span
          *ngIf="cartProduct.isMediumSize"
          class="style_price_per_unit_or_kg"
        >
          / Mediano
        </span>
        <span *ngIf="cartProduct.isBigSize" class="style_price_per_unit_or_kg">
          / Grande
        </span>
      </ng-container>
    </div>

    <div class="product_detail_area">
      <span *ngIf="!hasToppings" class="style_maturity_details">
        {{ cartProduct.maturityName }}.
      </span>

      <!-- <span class="style_maturity_field">
                Comer en:
            </span>
            
            <span class="style_maturity_details">
                {{cartProduct.maturityEatIn}} días
            </span> 
            
            <span class="style_maturity_field">
                 Y te durá: 
            </span>
            
            <span class="style_maturity_details">
                {{cartProduct.maturityLastFor}} días
            </span>  -->
    </div>

    <div [ngClass]="{ disabled: isPlacedOrder }" class="quatity_area">
      <ng-container
        *ngIf="isQuantityMode; then showAddOptions; else showUpdateButton"
      ></ng-container>

      <ng-template #showUpdateButton>
        <div (click)="enableQuantityMode()">
          {{ cartProductQuantityStr }} {{ cartProduct.isKilo ? "kg" : "Uni" }}
        </div>
      </ng-template>

      <ng-template #showAddOptions>
        <app-add-button
          [quantity]="cartProduct.quantity"
          [isKilo]="cartProduct.isKilo"
          [product]="cartProduct"
          [isCartProductButtonType]="true"
          (quantityUpdated)="onQuantityUpdated($event)"
          (disableQuantityMode)="onDisableQuantityMode($event)"
        >
        </app-add-button>
      </ng-template>
    </div>

    <div class="total_price_area">S/.{{ cartProductTotalPriceStr }}</div>
  </div>
  <div class="options_area">
    <div *ngIf="cartProduct.isOrganic" class="isOrganic_area">Org.</div>
    <!-- class="add_detail_area" -->

    <ng-container
      *ngIf="
        isPlacedOrder;
        then ShowViewCommentInPlacedOrder;
        else ShowAddComments
      "
    >
    </ng-container>

    <ng-template #ShowViewCommentInPlacedOrder>
      <div
        *ngIf="cartProduct.details"
        [ngClass]="{
          add_detail_area: true,
          bold_style: cartProduct.details ? true : false
        }"
      >
        <img src="../../../../../assets/icons/edit-15dp.svg" alt="" />
        <span (click)="openAddCartProductDetailModal()">Ver comentario</span>
      </div>
    </ng-template>

    <ng-template #ShowAddComments>
      <div
        [ngClass]="{
          add_detail_area: true,
          bold_style: cartProduct.details ? true : false
        }"
      >
        <img
          class="style_icon"
          src="../../../../../assets/icons/edit-15dp.svg"
          alt=""
        />
        <span (click)="openAddCartProductDetailModal()">Aclarar algo</span>
        <!-- <span (click)="enableQuantityMode()">Editar</span> -->
      </div>

      <div class="edit_area" (click)="enableQuantityMode()">
        <mat-icon class="style_edit_image">edit</mat-icon>
        <span>Editar</span>
      </div>

      <div class="remove_area">
        <img
          class="style_icon"
          src="../../../../../assets/icons/delete-15dp.svg"
          alt=""
        />
        <span (click)="deleteCartProduct()">Eliminar</span>
      </div>
    </ng-template>

    <!-- <div [ngClass]="{ add_detail_area: true, bold_style: cartProduct.details ? true : false}">
      <img src="../../../../../assets/icons/edit-15dp.svg" alt="" />
      <span (click)="openAddCartProductDetailModal()">Comentar</span>
    </div>

    <div *ngIf="!isPlacedOrder" class="remove_area">
      <img src="../../../../../assets/icons/delete-15dp.svg" alt="" />
      <span (click)="deleteCartProduct()">Eliminar</span>
    </div> -->
  </div>
</div>
