<div class="continer_grid">
    <div class="product_area">
        
        <div class="img_area">
            <img src="{{cartProduct.varietyImageUrl}}" alt="">
            <!-- <img src="https://dl.airtable.com/.attachments/4b31c3d5ef04f1e87735e6597dc7303e/f0955165/fuji.jpg" alt=""> -->
        </div>

        <div class="product_name_area" 
            (click)="disableQuantityMode()">
            {{cartProduct.categoryName}} - {{cartProduct.varietyName}}
            <!-- <span *ngIf="cartProduct.isOrganic">Orgánico</span>
            <span *ngIf="cartProduct.isOrganic === false">Normal</span> -->
        </div>

        <div class="product_kilo_unit_size_area" 
            (click)="disableQuantityMode()">
            S/.{{cartProductPriceStr}}
            <span *ngIf="cartProduct.isKilo" 
                class="style_price_per_unit_or_kg">
                 Kg.
            </span>
            <span *ngIf="cartProduct.isUnit" 
                class="style_price_per_unit_or_kg">
                 Uni.
            </span>
            <span *ngIf="cartProduct.isSmallSize" 
                class="style_price_per_unit_or_kg">
                 / Pequeño
            </span>
            <span *ngIf="cartProduct.isMediumSize" 
                class="style_price_per_unit_or_kg">
                 / Mediano
            </span>
            <span *ngIf="cartProduct.isBigSize" 
                class="style_price_per_unit_or_kg">
                 / Grande
            </span>
        </div>
        
        <div class="product_detail_area" 
            (click)="disableQuantityMode()">
            

            <span class="style_maturity_details">
                {{cartProduct.maturityName}}. 
            </span> 
            
            <!-- <span class="style_maturity_field">
                Comer en:
            </span>
            
            <span class="style_maturity_details">
                {{cartProduct.maturityEatIn}} días
            </span> 
            
            <span class="style_maturity_field">
                 Y te durá: 
            </span>
            
            <span class="style_maturity_details">
                {{cartProduct.maturityLastFor}} días
            </span>  -->

        </div>


        


        
        <div class="quatity_area">
            
            <ng-container *ngIf="(isQuantityMode); then showAddOptions ; else showUpdateButton"></ng-container>
            
            <ng-template #showUpdateButton>
                <div (click)="enableQuantityMode()">
                    {{cartProduct.quantity}}
                </div>
            </ng-template>
            
            <ng-template #showAddOptions >
                <app-add-button 
                    [quantity]="cartProduct.quantity"
                    [isKilo]="cartProduct.isKilo"
                    [product]="cartProduct"
                    [isCartProductButtonType]="true"
                    (quantityUpdated)="onQuantityUpdated($event)">
                </app-add-button>
            
            </ng-template>
        </div>
        
        <div class="total_price_area" 
            (click)="disableQuantityMode()">
            S/.{{cartProductTotalPriceStr}}
        </div>

    </div>
    <div class="options_area">
        <div *ngIf="cartProduct.isOrganic" class="isOrganic_area">Org.</div>

        <div class="add_detail_area" (click)="openAddCartProductDetailModal()">
            <img src="../../../../../assets/icons/edit-15dp.svg" alt=""> 
            Comentarios
        </div>
        <div class="remove_area" (click)="deleteCartProduct()">
            <img src="../../../../../assets/icons/delete-15dp.svg" alt=""> 
            Eliminar
        </div>
    </div>
</div>