$product_contianer_min_size: 340px
$product_contianer_max_size: 1fr

* 
  box-sizing: border-box

.style_question
  text-align: center
  font-weight: 600
  font-size: 25px


.display_products_row_grid
  grid-area: strPrd
  display: grid
  margin: 7px
  padding: 0px
  grid-template-columns: repeat(auto-fill, minmax($product_contianer_min_size, $product_contianer_max_size))
  grid-template-rows: 0.4fr
  grid-gap: 14px
  // background-color:  #bee4b6
.container
  opacity: 1
  transition: opacity 0.4s ease 0s
  width: 300px
  height: 18px
  position: relative
  overflow: hidden

  .obsolute_relative
    position: absolute
    

    .style_empty_message
      text-align: center
      align-self: center
      transform: translateX(-1440px)
      transition: transform 36s linear 0s
      white-space: nowrap
