@import "../../../app/styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)
  $warn: map-get($theme, warn)
  $background: map-get($theme, background)
  $foreground: map-get($theme, foreground)

$buyer_name_font_size: 2em
$buyer_view_account_font_size: 1em
$buyer_cart_number_font_size: 2em
 
$store_display_width: 340px
$image_width: 110px

$box_container_size: 320px

* 
  box-sizing: border-box 

.mat-toolbar.mat-primary 
  background: #43b02b00
  color: white

.mat-list-base 
  padding-top: 0px;

.mat-nav-list .mat-list-item 
  color: #43b02b

.example-container
  display: flex
  flex-direction: column
  top: 90px
  bottom: 0
  left: 0
  right: 0
  position: absolute
  // transform: translateY(90px)

.example-is-mobile .example-toolbar
  position: fixed
  z-index: 2

.mat-drawer-content 
  position: static
  z-index: 1
  display: block
  height: 100%
  overflow: auto


.style_drawer_button
  position: fixed
  left: 18px
  top: 20px
  height: 50px
  width: 50px
  z-index: 5
  
.style_cart_button
  position: absolute
  right: 4px
  height: 55px
  width: 68px
  background: red

h1.example-app-name
  margin-left: 8px

.example-sidenav-container
  flex: 1
  margin-top: 0px;

.example-is-mobile .example-sidenav-container
  flex: 1 0 auto



  
// .buyer_account_cart_area
//   gird-area: account_cart
//   display: grid
//   margin: .3em
//   padding: .3em .3em 0em .3em 
//   grid-template-columns: 1fr 1fr 1fr
//   grid-template-rows: 1fr
//   grid-gap: 10px
//   grid-template-areas: "account account cart"
//   border: 1px
//   border-radius: 10px
//   background-color: #f5f5f5

//   .buyer_account_area
//     grid-area: account
//     display: grid
//     margin: .5em
//     grid-template-columns: .1fr 1fr
//     grid-template-rows: 1fr 1fr
//     grid-template-areas: "icon name" "icon accountDetail"
    
//   .buyer_personal_icon_area
//     grid-area: icon
//     font-size: 100px

//   .buyer_name_area
//     grid-area: name
//     font-size: $buyer_name_font_size

//   .buyer_view_account_area
//     grid-area: accountDetail
//     font-size: $buyer_view_account_font_size
//     .a
//       color: mat-color($primary, darker, 0.5)

//   .buyer_cart_area
//     grid-area: cart
//     margin: .5em
//     justify-self: end
//     align-self: center
//     font-size: $buyer_cart_number_font_size
//     color: mat-color($primary, darker, 1)  





