<hr>
<div *ngIf="loginUser">
    <div class="container-grid">
        <!-- 
            Login account section coming from App.component.html
         -->
       
         <!-- 
            Title Seccion
         -->
        <div class="buyer-title-section">
            <span>Tus caseros</span>
            <button (click)="addFavoriteRetailer()">add</button>

        </div>
        
         <!-- 
            Favorite stores section
         -->
        <div class="buyer-stores-section">
            <div class="stores_grid">
    
                <!-- <ng-container *ngIf="(buyerAccountStore.state$ | async) as subs">
                    <div *ngIf="(subs.requests.getBuyer.inProgress)">Cargando...</div>

                    <ng-container *ngIf="(!subs.requests.getBuyer.inProgress)">

                        
                        
                    </ng-container>
                    
                    
                </ng-container> -->
                        <ng-container *ngFor='let favoriteRetailer of favoriteRetailers'>
                            <!-- <div  class="store_grid"> -->
                            <div (click)="goToRetailerStoreView(favoriteRetailer._id)" class="store_grid">
                                <!-- <a routerLink="/retailers/{{favoriteRetailer._id}}" class="store_grid"> -->
                                    <div class="store_image_area">
                                        <img src="../../../assets/fruit-images/fruits_portal_img.jpg" alt="">
                                    </div>
                                    <div class="store_name_area">{{favoriteRetailer.storeName}}</div>
                                    <div class="store_visit_area">los visitaste hace 4 días</div>
                                    <div class="store_service_area">
                                        <span *ngIf="(favoriteRetailer.isDeliveryService)"> Delivery </span>
                                        <span *ngIf="(favoriteRetailer.isPickUpService)"> Recojo </span>
                                    </div>
                                <!-- </a> -->
                            </div>
    
                        </ng-container>


                
<!--                
                <ng-container *ngIf="(buyerAccountStore.state$ | async ) as subs">
                   <div *ngIf="(subs.requests.getBuyer.inProgress)">loading...</div>
                    
                    <ng-container *ngIf="(!subs.requests.getBuyer.inProgress)"> 
                        <div *ngIf="(subs.buyerAccount)">
                            fadhjkl
                            {{subs.buyerAccount.username}}
                        </div>    
                    </ng-container>
                
                </ng-container> -->
               
            </div>
        </div>
        
    </div>
</div>
