
<div fxLayout="row">
    <div style="width: 100%; height: auto;">

  <div
  style="font-style: italic"
  [ngStyle.xs]="{'font-size.px': 20, color: 'blue'}"
  [ngStyle.sm]="{'font-size.px': 40, color: 'lightblue'}"
  [ngStyle.md]="{'font-size.px': 60, color: 'orange'}"
  [ngStyle.lg]="{'font-size.px': 80, color: 'red'}">TEST
  </div>
  <div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center stretch" >
      <h1>La tienda de keyla</h1>
      <a href="https://web.whatsapp.com/send?phone=51996821980&amp;text=hola+Kevin22&amp;source&amp;data&amp;app_absent">Whatsapp</a>
    </div>
    <div class="product_display_grid">
      <div   >
        <app-product-display product_name="Plátano"
                            url_img="url(../../../../../assets/fruit-images/platano.jpeg)">
                            </app-product-display>
      </div>
      <div>
        <app-product-display product_name="Manzana"
                            url_img="url(../../../../../assets/fruit-images/manzana.png)">
                            </app-product-display>
      </div>


      <div   >
        <app-product-display product_name="Mandarina"
                            url_img="url(../../../../../assets/fruit-images/mandarina.png)">
                            </app-product-display>
      </div>
      <div>
        <app-product-display product_name="Uva"
                            url_img="url(../../../../../assets/fruit-images/uva.png)">
                            </app-product-display>
      </div>


      <div   >
        <app-product-display product_name="Fresa"
                            url_img="url(../../../../../assets/fruit-images/fresa.png)"
                            (productDisplayEmmit)="getProductDisplay($event)">
                            </app-product-display>
      </div>
      <div>
        <app-product-display product_name="Papaya"
                            url_img="url(../../../../../assets/fruit-images/papaya.png)">
                            </app-product-display>
      </div>

      <div   >
        <app-product-display product_name="Uva Verde"
                            url_img="url(../../../../../assets/fruit-images/uva-verde.jpg)">
                            </app-product-display>
      </div>
      <div>
        <app-product-display product_name="Sandia"
                            url_img="url(../../../../../assets/fruit-images/sandia.png)">
                            </app-product-display>
      </div>
    </div>
    <!-- <mat-grid-list cols="4" >
      <mat-grid-tile 
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"> -->
          <!-- [style.background]="tile.background" -->
          <!-- <app-product-display product_name="Sandia"
          url_img="url(../../../../../assets/fruit-images/sandia.png)">
        </app-product-display> -->
      <!-- </mat-grid-tile>
    </mat-grid-list> -->


    <!-- <app-product-display product_name="Sandia"
    url_img="url(../../../../../assets/fruit-images/sandia.png)">
    </app-product-display> -->

    <br>
    <br>
    <br>
    <br>
    <br>


    <div fxLayout="row" fxLayoutAlign="center stretch" >
      <h1> Órdenes de compra para Keyla</h1>
    </div>
    <br>


    <mat-accordion *ngFor="let order of orders">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          
          <mat-panel-title class="panel_title_grid">
            <div>🛒{{order.product_list.length}} </div>
            <div>{{order.buyer_name}}</div>
            <!-- <div>#️⃣ {{order.order_num}}</div÷> -->
            <!-- <div>📞{{order.buyer_phone}}</div> -->
            <!-- {{order.stage}} -  Ordenó: {{order.product_list.length}} productos -  ✆ {{order.buyer_phone}} -->
          </mat-panel-title>
        
          <mat-panel-description>
            <div class="panel_address_grid">
              <div>{{order.buyer_address.district}}</div>
            </div>

          </mat-panel-description>

        </mat-expansion-panel-header>
        
        <div class="product_list_grid">
          <div *ngFor="let product of order.product_list">
            <div class="product_grid">
              <div class="product_image">      
                <div [ngStyle]="{'background-image': product.url_img}">
                  {{product.name}}
                </div>
              </div>
    
              <div class="product_quantity" >
                <div *ngIf="product.quantity !== -9999">
                  <span>{{product.quantity}} Uni </span>
                </div>
                <div *ngIf="product.quantity === -9999">
                  <span>{{product.weight}}</span>
                </div>  
    
              </div>
              <div class="product_type">{{product.type}}</div>
              <div class="product_last_for" >{{product.last_for}}</div>
            </div>
          </div>

        </div>
          
      </mat-expansion-panel>

      <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title>
              Self aware panel
          </mat-panel-title>
          <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
      </mat-expansion-panel> -->
    </mat-accordion>    
  </div>


  <!-- MDL list view -->
  <!-- <div fxLayout="row" fxLayoutAlign="space-between start" >
          
    <mdl-list style="width:100%">
      <mdl-list-item *ngFor="let product of order.product_list" lines="3">
        <mdl-list-item-primary-content>
          <mdl-icon mdl-list-item-avatar>{{product.name}}</mdl-icon>
            <div *ngIf="product.quantity !== -9999 ">
              <span>{{product.quantity}} Kg  de {{product.name}} de {{product.size}} que dure hasta: {{product.last_for}}</span>
            </div>
            <div *ngIf="product.weight !== '' ">
              <span>{{product.weight}} unidade(s) de {{product.name}} de {{product.size}} que dure hasta: {{product.last_for}}</span>
            </div>
          <mdl-list-item-text-body>
            {{product.type}}   
          </mdl-list-item-text-body>
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-content>
          <mdl-checkbox  [mdl-ripple]="true"></mdl-checkbox>
        </mdl-list-item-secondary-content>
      </mdl-list-item>
      </mdl-list>

  </div>   -->

  </div>
  

</div>

<script >
</script>
