* 
  box-sizing: border-box

$primary_display_font_size: 1.1em
$secondary_display_font_size: 1em
$third_display_font_size: 0.9em

$primary_filed_dark_color: #000000
$primary_filed_color: #565656
$secondary_filed_color: #808080
$third_filed_color: #adadad

$primary_button_color: #43b02b 
$secondary_text_color: #808080
$third_text_color: #8bce7d



.product_display_grid_seasonal_view
  display: grid
  margin: 0
  padding: 1em
  grid-template-columns: 5fr 1fr
  grid-gap: 0px
  grid-template-rows: 0fr 3fr 23px 17px 17px 15px 15px 0fr
  grid-template-areas: "emptyTop emptyTop" "image add" "price price" "matur info" "type type" "eatIn eatIn" "last last" "emptyBottom emptyBottom"
  background-color: white
  div:empty 
    display: none 

.product_display_grid_category_view
  display: grid
  margin: 0
  padding: 4px
  grid-template-columns: 1fr
  grid-gap: 0px
  grid-template-rows: 0fr 1fr 20px 0fr
  grid-template-areas: "emptyTop emptyTop" "image image" "cate cate" "emptyBottom emptyBottom"
  background-color: white

  div:empty 
    display: none 

.product_display_grid_type_view
  display: grid
  margin: 0
  padding: 1em
  grid-template-columns: 1fr
  grid-gap: 0px
  grid-template-rows: 0fr 3fr 20px 15px 0fr
  grid-template-areas: "emptyTop emptyTop" "image image" "price price" "type ." "emptyBottom emptyBottom"
  background-color: white

  div:empty 
    display: none

.product_display_grid_maturity_view
  display: grid
  margin: 0em
  padding: 1em
  grid-template-columns: 4fr 1fr
  grid-gap: 0px
  grid-template-rows: 0fr 3fr 15px 14px 14px 0fr
  grid-template-areas: "emptyTop emptyTop" "image add" "matur info" "eatIn eatIn" "last last" "emptyBottom emptyBottom"
  background-color: white
  div:empty 
    display: none   

// image area => applies for all the products view
.product_image_area
  grid-area: image
  .image_style
    width: 100%
    height: 100%

// Catergoy area for Category view 
.product_category_area
  grid-area: cate
  margin: 0px
  padding: 0px 4px 0px 4px
  justify-self: center
  font-size: $primary_display_font_size
  color: $primary_filed_color
  // -color: gray

// Type of product for selecting the variety of bananas  
.product_price_area
  grid-area: price
  margin: 0px
  padding: 4px 4px 4px 4px
  font-size: $primary_display_font_size
  color: $primary_filed_dark_color
  font-weight: bold
  // background-color: cyan
  .style_price_per_unit_or_kg
    color: $primary_filed_color

.product_type_area
  grid-area: type
  margin: 0px
  padding: 0px 4px 0px 4px
  font-size: $secondary_display_font_size
  color: $secondary_filed_color
  // background-color: green
  
// add button area  
.product_add_area
  grid-area: add
  justify-self: center
  align-self: start
  font-weight: bold
  touch-action: manipulation
  border: 1px solid rgb(67, 176, 42)
  border-radius: 12px
  font-weight: 100
  white-space: nowrap
  user-select: none
  -webkit-font-smoothing: antialiased
  background-image: none
  display: inline-flex
  align-items: center
  padding: 0px
  font-size: 12px
  height: 24px
  background-color: white
  color: rgb(67, 176, 42)
  min-width: 24px
  top: 8px
  right: 8px
  justify-content: center
  z-index: 1

// taking advantage of "add" grid-area
// to add organic and size area
.product_organic_add_area
  grid-area: add
  justify-self: center
  align-self: start
  font-weight: bold
  touch-action: manipulation
  border: 1px solid $third_text_color
  border-radius: 6px
  font-weight: 100
  white-space: nowrap
  user-select: none
  -webkit-font-smoothing: antialiased
  background-image: none
  display: inline-flex
  align-items: center
  padding: 0px
  font-size: 12px
  height: 20px
  background-color: $third_text_color
  color: white
  min-width: 24px
  top: 8px
  right: 8px
  justify-content: center
  transform: translate3d(-15px, 106px, 10px)


.product_size_add_area
  grid-area: add
  justify-self: center
  align-self: start
  font-weight: bold
  touch-action: manipulation
  border-radius: 6px
  font-weight: 100
  white-space: nowrap
  user-select: none
  -webkit-font-smoothing: antialiased
  background-image: none
  display: inline-flex
  align-items: center
  padding: 0px
  font-size: 10px
  height: 20px
  background-color: $third_filed_color
  color: white
  min-width: 24px
  top: 8px
  right: 8px
  justify-content: center
  transform: translate3d(0px, 83px, 10px)
  // background-color: cyan

//  Maturiy areas 
.product_maturity_area
  grid-area: matur
  margin: 0px
  padding: 0px 4px 0px 4px
  font-size: $primary_display_font_size
  justify-self: start
  color: $primary_filed_color
  // background-color: orange

.product_info_area
  grid-area: info
  margin: 0px
  padding: 0px 
  // background-color: yellow
  justify-self: end

.product_eatIn_area
  grid-area: eatIn
  margin: 0px
  padding: 0px 4px 0px 4px
  font-size: $third_display_font_size
  color: $third_filed_color

.product_lastFor_area
  grid-area: last
  margin: 0px
  padding: 0px 4px 0px 4px
  font-size: $third_display_font_size
  color: $third_filed_color

.product_empty_top_area
  grid-area: emptyTop

.product_empty_bottom_area
  grid-area: emptyBottom

.style_maturity_field
  color: $third_filed_color

.style_maturity_details
  color: $third_text_color


.style_organic
  color: $third_text_color
  transform: translate3d(101px, 2px, 0px)
  

.style_size
  color: $third_text_color
  transform: translate3d(98px, -1px, 0px)

.quantity_increased
  background-color: rgb(67, 176, 42)
  color: white