$primary_display_font_size: 14px
$secondary_display_font_size: 12px
$third_display_font_size: 10px

$primary_filed_dark_color: #000000
$primary_filed_color: #565656
$secondary_filed_color: #808080
$third_filed_color: #adadad

$primary_button_color: #43b02b 
$secondary_text_color: #808080
$third_text_color: #8bce7d

$box_image_size_fixed: 130px
$box_add_button_size: 30px

* 
  box-sizing: border-box


.product_display_grid_row_view
  display: grid
  margin: 0
  padding: 10px
  grid-template-columns: 35px .9fr 80px 20px
  grid-gap: 0px
  grid-template-rows: 15px 15px 
  grid-template-areas: "image matur totPriProd  add" "image price  totPriProd add"
  background-color: white
  div:empty 
    display: none 

.product_display_grid_seasonal_view
  display: grid
  margin: 0
  padding: 1em
  grid-template-columns: 1fr $box_add_button_size
  grid-gap: 0px
  grid-template-rows: 0fr 140px .1fr .1fr .1fr .1fr .1fr .1fr 0fr
  grid-template-areas: "emptyTop emptyTop" "image add" "price price" "cate cate" "matur matur" "type type" "eatIn eatIn" "last last" "emptyBottom emptyBottom"
  background-color: white
  div:empty 
    display: none 

.product_display_grid_category_view
  display: grid
  margin: 0
  padding: 14px
  grid-template-columns: 10px
  grid-gap: 0px
  grid-template-rows: 0fr 100px 20px 0fr
  grid-template-areas: "emptyTop emptyTop" "image image" "cate cate" "emptyBottom emptyBottom"
  background-color: white
  cursor: pointer

  div:empty 
    display: none 

.product_display_grid_variety_view
  display: grid
  margin: 0
  padding: 20px
  grid-template-columns: 1fr .1fr
  grid-gap: 0px
  grid-template-rows: 0fr $box_image_size_fixed 15px 0fr
  grid-template-areas: "emptyTop emptyTop" "image add" "cate cate" "type type" "emptyBottom emptyBottom"
  background-color: white
  cursor: pointer

  div:empty 
    display: none

.product_display_grid_maturity_view
  display: grid
  margin: 0em
  padding: 1em
  grid-template-columns: 1fr $box_add_button_size
  grid-gap: 0px
  grid-template-rows: 0fr $box_image_size_fixed .1fr .1fr .1fr .1fr 0fr
  grid-template-areas: "emptyTop emptyTop" "image add" "price price" "cate cate" "matur matur" "eatIn eatIn" "last last" "emptyBottom emptyBottom"
  background-color: white
  div:empty 
    display: none   

// image area => applies for all the products view
.product_image_area
  grid-area: image
  align-self: center

  .image_style
    width: 100%
    border-radius: 15px

  .image_style_row_view
    width: 100%
    border-radius: 5px

// Catergoy area for Category view 
.product_category_area
  grid-area: cate
  padding: 0px 5px
  margin: 0px
  justify-self: center
  font-size: $primary_display_font_size
  color: $primary_filed_color
  border-radius: 4px
  background: #ffffffb0

// Type of product for selecting the variety of bananas  
.product_price_area
  grid-area: price
  padding: 5px 0px 0px 5px
  font-size: $primary_display_font_size
  color: $secondary_filed_color
  font-weight: bold
  justify-self: left
  border-radius: 4px
  background: #ffffffb0

  .style_price_per_unit_or_kg
    color: $primary_filed_color


// Total Price per product in Row View  
.product_total_price_product_area
  grid-area: totPriProd
  padding: 0px 5px
  margin: 0px
  font-size: $primary_display_font_size
  color: $primary_filed_dark_color
  font-weight: bold
  justify-self: left
  border-radius: 4px
  background: #ffffffb0

  .style_price_per_unit_or_kg
    color: $primary_filed_color

.product_variety_area
  grid-area: type
  padding: 0px 5px
  margin: 0px
  justify-self: center
  font-size: $primary_display_font_size
  color: $secondary_filed_color
  border-radius: 4px
  background: #ffffffb0
  
// add button area  
.product_add_area
  grid-area: add

  .style_add_button
    align-self: start
    font-weight: bold
    touch-action: manipulation
    border: 1px solid rgb(67, 176, 42)
    border-radius: 20px
    font-weight: 100
    white-space: nowrap
    user-select: none
    -webkit-font-smoothing: antialiased
    background-image: none
    display: inline-flex
    align-items: center
    padding: 0px
    font-size: 15px
    height: $box_add_button_size
    background-color: white
    color: rgb(67, 176, 42)
    min-width: $box_add_button_size
    top: 8px
    right: 8px
    justify-content: center
    cursor: pointer

  .quantity_increased
    background-color: rgb(67, 176, 42)
    color: white

// taking advantage of "add" grid-area
// to add organic and size area
.product_organic_add_area
  grid-area: add
  justify-self: center
  align-self: start
  font-weight: bold
  touch-action: manipulation
  border-radius: 6px
  font-weight: 100
  white-space: nowrap
  user-select: none
  -webkit-font-smoothing: antialiased
  background-image: none
  display: inline-flex
  align-items: center
  padding: 0px
  font-size: 17px
  height: 22px
  background-color: #e6ffe475
  color: #8bce7d
  min-width: 43px
  top: 8px
  right: 8px
  justify-content: center
  transform: translate3d(-6px, 88px, 10px)

.product_size_add_area
  grid-area: add
  align-self: start
  font-weight: bold
  touch-action: manipulation
  border-radius: 6px
  font-weight: 100
  white-space: nowrap
  user-select: none
  -webkit-font-smoothing: antialiased
  background-image: none
  display: inline-flex
  align-items: center
  padding: 0px
  font-size: 14px
  height: 20px
  background-color: #e1e1e1
  color: #6b6b6b
  min-width: 74px
  top: 8px
  right: 8px
  justify-content: center
  transform: translate3d(-44px, 109px, 10px)




//  Maturiy areas 
.product_maturity_area
  grid-area: matur
  padding: 0px 5px
  font-size: 15px
  color: #6bc05b
  justify-self: left
  border-radius: 4px
  background: #ffffffb0


.product_info_area
  grid-area: add
  margin: 0px
  padding: 0px
  justify-self: flex-end
  align-self: self-end
  transform: translateY(22px)

.product_eatIn_area
  grid-area: eatIn
  padding: 0px 5px
  margin: 0px
  font-size: $third_display_font_size
  color: $third_filed_color
  justify-self: center
  border-radius: 4px
  background: #ffffffb0

.product_lastFor_area
  grid-area: last
  padding: 0px 5px
  margin: 0px
  font-size: $third_display_font_size
  color: $third_filed_color
  justify-self: center
  border-radius: 4px
  background: #ffffffb0

.product_empty_top_area
  grid-area: emptyTop

.product_empty_bottom_area
  grid-area: emptyBottom

.style_maturity_field
  color: $third_filed_color

.style_maturity_details
  color: $third_text_color


.style_organic
  color: $third_text_color
  transform: translate3d(101px, 2px, 0px)
  

.style_size
  color: $third_text_color
  transform: translate3d(98px, -1px, 0px)


.zoom 
  transition: transform .2s

.zoom:hover 
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
  z-index: 10
      