 <div  [class]="getGridView(typeView)">
    
    <div class="product_image_area">
        <img *ngIf="typeView === 'categoryView'" class="image_style" src={{product.categoryImageUrl}} alt="">
        <img *ngIf="typeView === 'seasonalView'" class="image_style" src={{product.varietyImageUrl}} alt="">
        <img *ngIf="typeView === 'varietyView'" class="image_style" src={{product.varietyImageUrl}} alt="">
        <img *ngIf="typeView === 'maturityView'" class="image_style" src={{product.maturityImageUrl}} alt="">
    </div>

    <div *ngIf="typeView === 'categoryView'" 
         class="product_category_area">
        {{product.categoryName}}</div>

    <div *ngIf="typeView === 'varietyView' || typeView === 'seasonalView'" 
        class="product_price_area">
        S/.{{product.price}}
        <span *ngIf="product.isKilo" class="style_price_per_unit_or_kg">/ Kg</span>
        <span *ngIf="product.isUnit" class="style_price_per_unit_or_kg">/ Unit</span>
    </div>

    <div *ngIf="typeView === 'varietyView' || typeView === 'seasonalView'" 
        class="product_type_area">
        {{product.varietyName}} - 
        <span *ngIf="product.isOrganic">Orgánico</span>
        <span *ngIf="product.isOrganic === false">Normal</span>
    </div>

    <!-- <div *ngIf="typeView === 'varietyView' || typeView === 'seasonalView' " 
        class="product_organic_area">
        <span *ngIf="product.isOrganic">Org</span>
        <span *ngIf="product.isOrganic === false">Nor</span>
    </div> -->
    
    <div *ngIf="typeView === 'maturityView' || typeView === 'seasonalView'" 
        class="product_add_area"
        (click)="increment()">+</div>


    <div *ngIf="(typeView === 'maturityView' || typeView === 'seasonalView') 
            && product.isMaturityDetails" 
        class="product_maturity_area">
        {{product.maturityName}}</div>
    
    <div *ngIf="(typeView === 'maturityView' || typeView === 'seasonalView') 
            && product.isMaturityDetails" 
        class="product_info_area">
        <img src="../../../../assets/icons/icons8-información.svg" alt="">
    </div>
    
    <div *ngIf="(typeView === 'maturityView' || typeView === 'seasonalView') 
            && product.isMaturityDetails" 
        class="product_eatIn_area">
        <span class="style_maturity_field">
             Comerlo en:
        </span>
        <span class="style_maturity_details">
            {{product.maturityEatIn}}
        </span> 
    </div>
    
    <div *ngIf="(typeView === 'maturityView' || typeView === 'seasonalView') && product.isMaturityDetails" 
        class="product_lastFor_area">
        <span class="style_maturity_field">
             Y te durá: 
        </span>
        <span class="style_maturity_details">
            {{product.maturityLastFor}}
        </span> 
    </div>
    
    <div class="product_empty_top_area"></div>
    <div class="product_empty_bottom_area"></div>

</div>      