<div class="address_wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="style_brand">
    <h1>
      <img src="../../../../../assets/icons/location.svg" alt="" />
      Modo entrega:
    </h1>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle
        (click)="updateValue(true)"
        value="pickUp"
        aria-label="Text align left"
      >
        Recojo en tienda
      </mat-button-toggle>

      <mat-button-toggle
        (click)="updateValue(false)"
        value="delivery"
        aria-label="Text align center"
      >
        Delivery
      </mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->
  </div>

  <!-- <mat-slide-toggle 
        [(ngModel)]="isPickUp"
        (ngModelChange)="updateSlide()">
        Recojo en tineda
        <img src="../../../../../assets/icons/store.svg" alt="">
        
    </mat-slide-toggle> -->

  <form class="address_form" [formGroup]="addressForm">
    <ng-container *ngIf="!isPickUp; then showFileds; else showNoFileds">
    </ng-container>

    <ng-template #showFileds>
      <br />
      <!-- <mat-form-field class="address_full_width">
        <mat-label>Calle / Avenida / Jirón</mat-label>
        <input
          cdkFocusInitial
          matInput
          placeholder="Mi dirección es ..."
          name="streeName"
          type="text"
          formControlName="streetName"
        />
      </mat-form-field>

      <mat-form-field class="address_street_number_width">
        <mat-label>Num. de dirección </mat-label>
        <input
          matInput
          placeholder="N. 167"
          name="streetNumber"
          type="tel"
          formControlName="streetNumber"
        />
      </mat-form-field>

      <mat-form-field class="address_apartment_number_width">
        <mat-label>Dpto. / Mz. / Lote</mat-label>
        <input
          matInput
          placeholder=""
          name="apartmentNumber"
          type="tel"
          formControlName="apartmentNumber"
        />
      </mat-form-field>

      <mat-form-field class="address_city_width">
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="city">
          <mat-option [value]="city" *ngFor="let city of cities"
            >{{ city }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="address_district_width">
        <mat-label>Distrito</mat-label>
        <mat-select formControlName="district">
          <mat-option [value]="district" *ngFor="let district of districts"
            >{{ district }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <div class="style_delivery_message">
        {{ deliveryMessage }}
      </div>

      <mat-form-field class="address_full_width">
        <mat-label>Direccion completa (ciudad y departamento)</mat-label>
        <textarea
          class="textarea"
          matInput
          placeholder="Mi direcctión es... (No olvidar de escribir el distrito y departmento - Lima, Junin, Ica, etc)"
          name="details"
          type="text"
          formControlName="details"
        ></textarea>
      </mat-form-field>
      <a
        class="style_map_icon"
        href="https://www.google.com/maps/place/Lima/@-12.0266296,-77.0578184,12z/data=!3m1!4b1!4m5!3m4!1s0x9105c5f619ee3ec7:0x14206cb9cc452e4a!8m2!3d-12.0463731!4d-77.042754"
      >
        <img
          height="40px"
          width="45px"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Google_Maps_Logo_2020.svg/220px-Google_Maps_Logo_2020.svg.png"
          alt=""
        />
      </a>

      <mat-form-field class="reference_width">
        <mat-label>Referencia</mat-label>
        <textarea
          class="textarea"
          matInput
          placeholder="Vivo en la urbanización... (Tambien puede pegar el link de Google Maps de su ubicación y le entreguen la orden rápidamente)"
          name="reference"
          type="text"
          formControlName="reference"
        ></textarea>
      </mat-form-field>

      <!-- <mat-checkbox class="example-margin"
                    [saveAddressSelected]="is"
                    (change)="saveDireccion($event.checked)">
                   
                </mat-checkbox> -->
      <!-- <mat-form-field class="address_full_width">   
                    <mat-checkbox 
                        color="primary" 
                        class="example-margin"
                        [(ngModel)]="isCheckedSaveAddress"
                        (ngModelChange)="isChangedSaveAddress()"
                        MatFormFieldControl="isSaveAsFrequentAddress"> 
                        Recordar dirección para futuras compras.
                    </mat-checkbox>
                </mat-form-field> -->
    </ng-template>

    <ng-template #showNoFileds>
      <div class="style_pick_up_message">
        {{ pickUpMessage }}
      </div>
    </ng-template>

    <div mat-dialog-actions fxLayoutAlign="center center">
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button
        mat-flat-button
        color="primary"
        [mat-dialog-close]="addressForm.value"
        [disabled]="!addressForm.valid"
        cdkFocusRegionEnd
      >
        Continuar
      </button>
    </div>
  </form>
</div>
