<div class="sytle_register_wrapper">

    <div class="style_brand">
        <h3> 🍒 Dame tu lista</h3>
    </div>
    
    <div class="style_register_message">
        <h4>Registrate</h4>
    </div>

    <div fxLayoutAlign="space-around center" >
        <app-register-retailer></app-register-retailer>
        <!-- <mat-tab-group>
            <mat-tab label="Comprador" >
                
                <app-register-buyer></app-register-buyer>
            </mat-tab>
            <mat-tab label="Vendedor">
                <app-register-retailer></app-register-retailer>
            </mat-tab>
        </mat-tab-group> -->
    </div>


    <div class="sing-up-section" fxLayout="column" fxLayoutAlign="center center">
        Cuentas ya con una cuenta: 
        <a class="style_redirect_url" [href]="loginUrl">Ingrese ya!</a>
    </div>


</div>
 