@import "../../../app//styles/scss/variables"


@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)
  $warn: map-get($theme, warn)
  $background: map-get($theme, background)
  $foreground: map-get($theme, foreground)


.sytle_register_wrapper
  transform: translateY(7%)
  
  .style_register_message
    font-weight: 500
    color: mat-color($primary, default, 1)
    h4
      text-align: center

  .style_brand
    text-align: center
    color: mat-color($primary, default, 1)


