<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
   
    <div class="login-wellcome-message">
      <h2>Registrate como comprador</h2>
    </div>

    <form class="login-form" [formGroup]='registerRetailerForm' (ngSubmit)="onSubmit()">
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Correo electrónico"
                          name="email"
                          type="text"
                          formControlName="email">
        </mat-form-field>

        <!-- <mat-form-field class="login-full-width">
            <input matInput placeholder="Numero Telefónico"
                            name="number"
                            type="text"
                            formControlName="email">
          </mat-form-field> -->

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Contraseña"
                          name="password"
                          type="password"
                          formControlName="password">
        </mat-form-field>

        <br>
        <div class="style_error_message">{{errorMessage}}</div>
        <br>
        <button mat-stroked-button  
                class="btn-block"
                type="submit"
                [disabled]="!registerRetailerForm.valid">Crear cuenta</button>
        <br>
        <br>
        
        <div *ngIf="true">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

    </form>
</div>