<div *ngIf="loginUser">
    <div class="buyer_account_cart_area">
        <div class="buyer_account_area">

            <div class="buyer_personal_icon_area" 
                (click)="viewBuyerDetails()">
                <img class="buyer_icon" src="../assets/icons/person-black-36dp.svg" alt="">
            </div>

            <div class="buyer_name_area" >
                <span> Kevin </span>
            </div>

            <div class="buyer_view_account_area" >
                <span (click)="viewBuyerDetails()">Ver cuenta</span>
            </div>
        </div>
        
        <div class="buyer_cart_area">
            <div (click)="viewBuyerCart()">
                <img src="../assets/icons/shopping_cart-black-36dp.svg" alt="">
                <span>3</span>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
