@import "../app/styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)
  $warn: map-get($theme, warn)
  $background: map-get($theme, background)
  $foreground: map-get($theme, foreground)

$buyer_name_font_size: 2em
$buyer_view_account_font_size: 1em
$buyer_cart_number_font_size: 2em

* 
  box-sizing: border-box 


.buyer_account_cart_area
  gird-area: account_cart
  display: grid
  margin: .3em
  padding: .3em .3em 0em .3em 
  grid-template-columns: 3fr 1fr
  grid-template-rows: 1fr
  grid-gap: 10px
  grid-template-areas: "account  cart"
  border: 1px
  border-radius: 10px

  .buyer_account_area
    grid-area: account
    display: grid
    margin: .5em
    grid-template-columns: .1fr 1fr
    grid-template-rows: 1fr 1fr
    grid-template-areas: "icon name" "icon accountDetail"
    
  .buyer_personal_icon_area
    grid-area: icon
    font-size: 100px

  .buyer_name_area
    grid-area: name
    font-size: $buyer_name_font_size

  .buyer_view_account_area
    grid-area: accountDetail
    font-size: $buyer_view_account_font_size
    .a
      color: mat-color($primary, darker, 0.5)

  .buyer_cart_area
    grid-area: cart
    margin: 0em
    justify-self: end
    align-self: center
    font-size: $buyer_cart_number_font_size
    color: #43b02b  

  .navegation_grid
    display: grid
    margin: 0 
    padding: 1em 0em 1em 0em
    grid-template-columns: 42px 1fr
    grid-template-rows: 1fr
    grid-template-areas: "img text"

    .navegation_image_area
      grid-area: img
      align-self: center

    .navegation_title_area
      grid-area: text
      font-size: $buyer_cart_number_font_size
      justify-self: start
      align-self: center
      color: #737373
