<ng-container
  *ngIf="
    toppingType.isMultipleSelection_toppings;
    then ShowMutiselection;
    else ShowSingleSelection
  "
>
</ng-container>
<ng-template #ShowMutiselection>
  <mat-form-field appearance="legacy">
    <mat-label>{{ toppingType.title_toppings }}</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{ toppings.value ? toppings.value[0] : "" }}
        <span
          *ngIf="toppings.value?.length > 1"
          class="example-additional-selection"
        >
          (+{{ toppings.value.length - 1 }}
          {{ toppings.value?.length === 2 ? "otro" : "otros" }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let topping of toppingType.name_toppings; let idx = index"
        [value]="topping"
      >
        {{ topping }}
        <!-- <div>
          <span class="left_style">{{ topping }}</span> -
          <span class="right_style"
            >S/. {{ toppingType.price_toppings[idx] }}</span
          >
        </div> -->
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #ShowSingleSelection>
  <mat-form-field appearance="legacy">
    <mat-label>{{ toppingType.title_toppings }}</mat-label>
    <mat-select
      [formControl]="toppings"
      multiple="{{ toppingType.isMultipleSelection_toppings }}"
    >
      <mat-select-trigger>
        {{ toppings.value ? toppings.value : "" }}
        <span
          *ngIf="toppings.value?.length > 1"
          class="example-additional-selection"
        >
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let topping of toppingType.name_toppings"
        [value]="topping"
        >{{ topping }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</ng-template>
