
<br>
<div fxLayout="row" fxLayoutAlign="center stretch" >
    <h1> Órdenes de compra para Keyla</h1>
</div>
<br>


<mat-accordion *ngFor="let order of orders">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            
            <mat-panel-title class="panel_title_grid">
                <div>{{order.shipping.address.district}}</div>
                <div>{{order.shipping.buyer.name}}</div>
                <!-- <div>#️⃣ {{order.order_num}}</div÷> -->
                <!-- <div>📞{{order.buyer_phone}}</div> -->
                <!-- {{order.stage}} -  Ordenó: {{order.product_list.length}} productos -  ✆ {{order.buyer_phone}} -->
            </mat-panel-title>
            
            <mat-panel-description class="panel_address_grid">
                
                <div>🛒{{order.cart.length}} </div>
            </mat-panel-description>

        </mat-expansion-panel-header>
      
      <!-- <div [ngClass]="[isMobileView ? 'product_list_grid_mobile' : 'product_list_grid_desktop' ]"> -->
    <div class="product_list_grid_mobile">
        <ng-container *ngFor="let productOrder of order.cart">
          
            <app-order-display
                [order_id]="order._id"
                [cartProductOrder]="productOrder"
                (isProductOrderCompleted)="onIsProductOrderCompleted($event)">
            </app-order-display>

        </ng-container>

    </div>

    <div class="style_order_complete">
        <button mat-button color="primary"
            (click)="setNextOrderStatus(order._id)"
            [disabled]="!isOrderCompleted">Orden atendida</button>

    </div>
      
        
</mat-expansion-panel>