<div>
  <button (click)="toggle()">Logout</button>  
  <button (click)="toggleDetails()">Get Users</button>  
</div>

<div [@slideInOutDetails]="menuState"> 
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Ingresa</mat-card-title>
      </mat-card-header>

      <form [formGroup]='loginForm' (ngSubmit)="onSubmit()" 
            class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username"
                            name="username"
                            type="text"
                            formControlName="username">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password"
                            name="password"
                            type="password"
                            formControlName="password">
          </mat-form-field>

          <mat-form-field class="example-full-width">
                    <mat-label>Choose a role...</mat-label>
                    <mat-select formControlName="login_type">
                      <mat-option [value]="roles" *ngFor="let roles of Roles" >{{roles}}
                      </mat-option>
                    </mat-select>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" 
                class="btn-block"
                type="submit"
                [disabled]="!loginForm.valid">Log in</button>
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Result</h2>
        
            <section class="example-section">
              <mat-progress-bar
                  class="example-margin"
                  [color]="color"
                  [mode]="mode"
                  [value]="value"
                  [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </mat-card-content>
        </mat-card>        

      </form>
    </mat-card>
  </div>
   <!-- <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
  </div> -->

</div>


