@import "../../styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)
  $warn: map-get($theme, warn)
  $background: map-get($theme, background)
  $foreground: map-get($theme, foreground)

.login-wrapper

  .login-brand
    transform: translateY(200%)
    color: mat-color($primary, default, 1)
    
    h1
      font-size: 38px
    
  
  .login-wellcome-message
    font-weight: 500
    transform: translateY(250%)


  .login-form
    min-width: 200px
    max-width: 300px
    transform: translateY(50%)
    
  .login-full-width, .btn-block
    width: 100%
  
  .btn-block
    border: none
  // background-color: mat-color($primary, lighter, 1)

  .style_error_message
    color: #fd8686
    font-size: 12px
    text-align: center
  
  .sing-up-section
    font-size: 14px
    
    .style_redirect_url
      color: mat-color($primary, default, 1)


