<div>
  <!-- <button (click)="toggle()">Logout</button>   -->
  <!-- <button (click)="onSubmit()">Quicklogin</button>   -->
</div> 
<div [@slideInOutDetails]="menuState"> 
  <div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    
        <div class="login-brand">
          <h1> 🍒 Dame tu lista</h1>
        </div>

        <div class="login-wellcome-message">
          <h2>Bienvenido de vuelta</h2>
        </div>

        <form class="login-form" [formGroup]='loginForm' (ngSubmit)="onSubmit()">
            <mat-form-field class="login-full-width">
              <input matInput placeholder="Correo electrónico"
                              name="email"
                              type="text"
                              formControlName="email" >
<!-- 
              <mat-hint>Errors appear instantly!</mat-hint> [errorStateMatcher]="matcher"
              <mat-error *ngIf="loginForm.email.hasError('email') && !loginForm.email.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm.email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>         
              
               -->

            </mat-form-field>

            <mat-form-field class="login-full-width">
              <input matInput placeholder="Contraseña"
                              name="password"
                              type="password"
                              formControlName="password">
            </mat-form-field>

            <mat-form-field class="login-full-width">
                      <mat-label>Usted es ...</mat-label>
                      <mat-select formControlName="login_type">
                        <mat-option [value]="roles" *ngFor="let roles of Roles" >{{roles}}
                        </mat-option>
                      </mat-select>
            </mat-form-field>
            <br>
            <div class="style_error_message">{{errorMessage}}</div>
            <br>
            <button mat-stroked-button  
                    class="btn-block"
                    type="submit"
                    [disabled]="!loginForm.valid">Ingrese</button>
            <br>
            <br>
            <div class="sing-up-section" fxLayout="column" fxLayoutAlign="center center">
                Aun no tiene una cuenta: 
                <a class="style_redirect_url" [href]="registerUrl">Registrate ya!</a>
            </div>

            <br>
            <br>
            <div *ngIf="loading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>

        </form>
        <!-- <div *ngIf="authenticationStore.state.requests.postAuthentication.inProgress">Loading WORKS!</div>       -->

    <!-- </div> -->
  </div>
   <!-- <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
  </div> -->

</div>



<!-- 
<iframe height="350px" width="100%" allowfullscreen="true" 
src="https://momento360.com/e/u/5f925bb6967248b7988068c0a209a2fc?utm_campaign=embed&utm_source=other&heading=-236.59988440711828&pitch=19.90231762209796&field-of-view=75"> </iframe> -->