<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <img src="../../../assets/icons/shopping-basket.svg" alt="">
   
    <form class="login-form" [formGroup]='registerBuyerForm' (ngSubmit)="onSubmit()">

        <mat-form-field class="login-full-width">
            <input matInput placeholder="Primer nombre"
                            name="name"
                            type="text"
                            formControlName="name">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Correo electrónico"
                          name="email"
                          type="text"
                          formControlName="email">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Contraseña"
                          name="password"
                          type="password"
                          formControlName="password">
        </mat-form-field>

        <br>
        <div class="style_error_message">{{errorMessage}}</div>
        <br>
        <button mat-stroked-button  
                class="btn-block"
                color="primary"
                type="submit"
                [disabled]="!registerBuyerForm.valid">Crear cuenta</button>

        <br>
        <br>

        <div *ngIf="loading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

    </form>
</div>