<!-- <div class="container_product" [@changeState]="data.currentState"> -->
<div class="container_product" (window:scroll)="getYPosition($event)">
  <div class="image_area">
    <img class="product_image" src="{{ data.image }}" alt="" />
  </div>

  <div class="add_button_area">
    <app-add-button
      class="add-button"
      [quantity]="data.quantity"
      (quantityUpdated)="onQuantityUpdated($event)"
    ></app-add-button>
  </div>

  <!-- <div class="product_price_area">
    <h2>{{ data.productPrice }}</h2>
  </div> -->

  <div
    [class.header_product_name_change]="isProductNameFixed"
    class="product_name_area"
  >
    <h2>{{ data.productName }}</h2>
  </div>

  <div class="product_label">
    <form class="example-form">
      <mat-form-field>
        <mat-label>Personaliza tu producto</mat-label>
        <input
          type="text"
          matInput
          [formControl]="productLableFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ejm. Luchito"
        />
        <mat-hint>Te llamaremos por este nombre</mat-hint>
        <mat-error
          *ngIf="
            productLableFormControl.hasError('email') &&
            !productLableFormControl.hasError('required')
          "
        >
          Ponle nombre a tu Wawito
        </mat-error>
        <mat-error *ngIf="productLableFormControl.hasError('required')">
          No te olvides que este <strong>nombre</strong> está asociado a este
          producto.
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div [ngSwitch]="data.mode" class="toppings_area">
    <ng-container *ngFor="let topping of data.toppings">
      <app-topping
        *ngSwitchCase="'select'"
        [toppingType]="topping"
        (selectedToppings)="onSelectedToppings($event)"
      ></app-topping>

      <app-topping
        *ngSwitchCase="'update'"
        [toppingType]="topping"
        [incommingSelectedToppings]="
          getToppingsSelectedByTitleTopping(topping.title_toppings)
        "
        (selectedToppings)="onSelectedToppings($event)"
      ></app-topping>
    </ng-container>
  </div>

  <!-- <button mat-button [mat-dialog-close]="detailForm.value"  
    class="btn_block"
    [disabled]="!detailForm.valid">Siguiente</button>
  -->

  <div class="options_area" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="modalResul"
      [disabled]="!productLableFormControl.valid"
      cdkFocusInitial
    >
      Aceptar
    </button>
  </div>
</div>
