<!-- <!doctype html>
<html class="no-js" lang="en">

<head> -->
<!-- <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#6ac393">
  <link rel="canonical" href="index.html"><link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0328/1823/3484/files/OCO_Icon_32x32.png?v=1581107468" type="image/png"><title>Oco Meal Prep Vancouver 🥗 🌯 🧆
&ndash; Oco Meals</title><meta name="description" content="Locally prepared meals 🥗 🌯 🧆 delivered 🚛 for your week. Imagine it&#39;s lunch time and instead of making something 🥘 or ordering take-out 🍔 you simply walk over to your fridge, take out a meal, and eat! 😋 💚 Oco Meal Delivery 🍝 🥗 🌯 🥙 🍛 🧆 🥘"><!-- /snippets/social-meta-tags.liquid -->

<!-- <meta property="og:site_name" content="Oco Meals">
<meta property="og:url" content="https://ocomeals.com/">
<meta property="og:title" content="Oco Meal Prep Vancouver 🥗 🌯 🧆">
<meta property="og:type" content="website">
<meta property="og:description" content="Locally prepared meals 🥗 🌯 🧆 delivered 🚛 for your week. Imagine it&#39;s lunch time and instead of making something 🥘 or ordering take-out 🍔 you simply walk over to your fridge, take out a meal, and eat! 😋 💚 Oco Meal Delivery 🍝 🥗 🌯 🥙 🍛 🧆 🥘">

<meta property="og:image" content="http://cdn.shopify.com/s/files/1/0328/1823/3484/files/Oco_Meals_1200x1200.jpg?v=1593034039">
<meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0328/1823/3484/files/Oco_Meals_1200x1200.jpg?v=1593034039">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Oco Meal Prep Vancouver 🥗 🌯 🧆">
<meta name="twitter:description" content="Locally prepared meals 🥗 🌯 🧆 delivered 🚛 for your week. Imagine it&#39;s lunch time and instead of making something 🥘 or ordering take-out 🍔 you simply walk over to your fridge, take out a meal, and eat! 😋 💚 Oco Meal Delivery 🍝 🥗 🌯 🥙 🍛 🧆 🥘"> -->

<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

<!-- </head>

<body> -->
<div class="gem-container">
  <link
    data-instant-track
    rel="stylesheet"
    type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    class="gf-style"
  />
  <link
    data-instant-track
    rel="stylesheet"
    type="text/css"
    href="https://d1um8515vdn9kb.cloudfront.net/files/vendor.css?refresh=1"
    class="gf-style"
  />
  <link
    data-instant-track
    rel="stylesheet"
    type="text/css"
    href="https://cdn.shopify.com/s/files/1/0328/1823/3484/t/1/assets/gem-page-index-1599000392.css?v=6549552029690047540"
    class="gf_page_style"
  />
  <link
    data-instant-track
    class="gf_fonts"
    data-fonts="Montserrat"
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
    type="text/css"
  />
  <link
    data-instant-track
    rel="stylesheet"
    type="text/css"
    href="https://d1um8515vdn9kb.cloudfront.net/libs/css/owl.carousel.min.css"
    class="gf_libs"
  />
  <!--GEM_HEADER_END

    <!--BAnner -->
  <!--Gem_Page_Main_Editor-->
  <div class="gryffeditor">
    <div class="top-bar">
      <div class="logo">
        <img
          class=""
          src="https://dl.airtable.com/.attachmentThumbnails/a19e24f7a2d5cbdf13defe320895d6c8/bcddc3d8"
          alt=""
        />
      </div>

      <!-- <div class="menu">
            <ul>
              <li><a href="https://www.dametulista.com/login">Ingresa</a></li>
              <li><a href="https://www.dametulista.com/registrate">Regístrate</a></li>
            </ul>
          </div> -->
    </div>

    <!--gfsplit-->
    <div class="element-wrap">
      <div
        class="sub-titlwe elm text-edit gf-elm-center gf-elm-center-xs gf-elm-center-sm gf-elm-center-lg gf-elm-center-md"
      >
        <h1><b>Recibe los pedidos de tus clientes en WhatsApp</b></h1>
      </div>
    </div>

    <!--gfsplit-->
    <div
      data-label="Row"
      id="r-1599242011125"
      class="gf_row"
      data-icon="gpicon-row"
      data-id="1599242011125"
      data-extraclass=""
    >
      <div
        class="gf_column gf_col-lg-6 gf_col-md-6 gf_col-sm-6 gf_col-xs-12"
        id="c-1599196463837"
        data-id="1599196463837"
        style="min-height: auto"
      >
        <div
          data-label="Image"
          id="e-1599242011075"
          class="element-wrap"
          data-icon="gpicon-image"
          data-ver="1.0"
          data-id="1599242011075"
        >
          <div
            class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
            data-exc=""
          >
            <img
              src="https://ucarecdn.com/5ebf8814-e9de-45c7-9938-d1bb740743c3/-/format/auto/-/preview/2560x2560/-/quality/lighter/"
              alt=""
              class="gf_image"
              data-gemlang="en"
              title=""
            />
          </div>
        </div>
      </div>
      <div
        class="gf_column gf_col-lg-6 gf_col-md-6 gf_col-sm-6 gf_col-xs-12"
        id="c-1599196483976"
        data-id="1599196483976"
        style="min-height: auto"
      >
        <div
          data-label="Row"
          id="r-1599242011031"
          class="gf_row"
          data-icon="gpicon-row"
          data-id="1599242011031"
          data-extraclass=""
        >
          <div
            class="gf_col-lg-12 gf_column"
            id="c-1596751803774"
            data-id="1596751803774"
            style="min-height: auto"
          >
            <div
              data-label="Heading"
              id="e-1599242011092"
              class="element-wrap"
              data-icon="gpicon-heading"
              data-ver="1"
              data-id="1599242011092"
            >
              <div
                class="title-banner elm text-edit gf-elm-center gf-elm-center-xs gf-elm-center-sm gf-elm-center-lg gf-elm-center-md"
                data-gemlang="en"
                data-exc=""
              >
                <h1><b>Atiende órdenes ilimitadas por solo S/.20 al mes</b></h1>
              </div>
            </div>
            <div
              data-label="Text Block"
              id="e-1599242011129"
              class="element-wrap"
              data-icon="gpicon-textblock"
              data-ver="1"
              data-id="1599242011129"
              style="display: block"
            >
              <div
                class="banner-cero_comission elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                data-gemlang="en"
                data-exc=""
              >
                <p>Membresía mensual sin contratos</p>
              </div>
            </div>
            <div
              data-label="Heading"
              id="e-1599242011046"
              class="element-wrap"
              data-icon="gpicon-heading"
              data-ver="1"
              data-id="1599242011046"
            >
              <div
                class="elm text-edit gf-elm-center gf-elm-center-xs gf-elm-center-sm gf-elm-center-lg gf-elm-center-md"
                data-gemlang="en"
                data-exc=""
              >
                <h1>Además, &nbsp;<b>cero comisiones</b> por tus ventas!</h1>
              </div>
            </div>
            <br />
            <div
              data-label="Button"
              id="e-1599242011055"
              class="element-wrap"
              data-icon="gpicon-gpicon-button"
              data-ver="1.0"
              data-id="1599242011055"
            >
              <div
                class="elm gf-elm-center gf-elm-center-xs gf-elm-center-sm gf-elm-center-md gf-elm-center-lg"
              >
                <a
                  class="button btn gf_button"
                  href="tel:+51996821980"
                  target=""
                  data-scroll-speed-xs="2000"
                  data-exc=""
                  aria-describedby="a11y-external-message"
                  data-scroll-speed="2000"
                  data-scroll-speed-md="2000"
                  data-scroll-speed-sm="2000"
                >
                  <span>Solicita una demo</span>
                </a>
              </div>
            </div>
            <br />
            <div
              data-label="Text Block"
              id="e-1599242011101"
              class="element-wrap"
              data-icon="gpicon-textblock"
              data-ver="1"
              data-id="1599242011101"
            >
              <div
                class="elm text-edit gf-elm-left gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
                data-gemlang="en"
                data-exc=""
              >
                <p>Válido para nuevos usuarios</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--gfsplit-->
    <div
      data-label="Image"
      id="e-1599242011102"
      class="element-wrap"
      data-icon="gpicon-image"
      data-ver="1.0"
      data-id="1599242011102"
    >
      <div
        class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-sm"
        data-exc=""
      >
        <img
          src="https://ucarecdn.com/5ebf8814-e9de-45c7-9938-d1bb740743c3/-/format/auto/-/preview/2560x2560/-/quality/lighter/"
          alt=""
          class="gf_image"
          data-gemlang="en"
          title=""
        />
      </div>
    </div>

    <!--gfsplit-->
    <div
      data-label="Row"
      id="r-1599242011133"
      class="gf_row"
      data-icon="gpicon-row"
      data-id="1599242011133"
      data-extraclass=""
    >
      <div
        class="gf_col-lg-12 gf_column"
        id="c-1596751803774"
        data-id="1596751803774"
        style="min-height: auto"
      >
        <div
          data-label="Heading"
          id="e-1599242011037"
          class="element-wrap"
          data-icon="gpicon-heading"
          data-ver="1"
          data-id="1599242011037"
        >
          <div
            class="title-banner elm text-edit gf-elm-center gf-elm-center-sm gf-elm-center-xs"
            data-gemlang="en"
            data-exc=""
          >
            <h1><b>Atiende órdenes ilimitadas por solo S/.20 al mes</b></h1>
          </div>
        </div>
        <div
          data-label="Text Block"
          id="e-1599242011104"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1599242011104"
        >
          <div
            class="banner-cero_comission elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
            data-gemlang="en"
            data-exc=""
          >
            <p>Membresía mensual sin contratos</p>
          </div>
        </div>
        <div
          data-label="Heading"
          id="e-1599242011105"
          class="element-wrap"
          data-icon="gpicon-heading"
          data-ver="1"
          data-id="1599242011105"
        >
          <div
            class="elm text-edit gf-elm-center gf-elm-center-xs gf-elm-center-sm"
            data-gemlang="en"
            data-exc=""
          >
            <h1>Además, <b>Cero comisiones</b> por tus ventas!</h1>
          </div>
        </div>
        <br />
        <!-- <div data-label="Text Block" id="e-1599242011115" class="element-wrap" data-icon="gpicon-textblock" data-ver="1" data-id="1599242011115">
                      <div class="elm text-edit gf-elm-left gf-elm-center-xs gf-elm-center-sm gf-elm-center-lg gf-elm-center-md" data-gemlang="en" data-exc="">
                          <p>Offer Expires In</p>
                      </div>
                  </div>
                  <div data-label="Count Down" id="m-1599242011063" class="module-wrap" data-icon="gpicon-countdown" data-ver="1.0" data-id="1599242011063">
                      <div class="module count-down gf_module-center gf_module-center-lg gf_module--md gf_module--sm gf_module--xs " data-end="2020/9/11 17:0:48" data-week="0" data-weeklabel="Weeks" data-day="1" data-daylabel="Days" data-hour="1" data-hourlabel="Hours" data-minute="1" data-minutelabel="Minutes" data-second="1" data-secondlabel="Seconds" data-type="daily" data-daily="0h, 0m, 10s" data-evergreen="3h" data-redirect="#" data-cookietime="0" data-evergreenloop="1" data-timezone="UTC-7">
                          <div class="count-down-wrap">
                              <div class="count-down-inner">
                                  <div class="day-left time-left"><span class="num">00</span><span class="count-label">Days</span></div>
                                  <div class="hour-left time-left"><span class="num">00</span><span class="count-label">Hours</span>
                                  </div>
                                  <div class="minute-left time-left"><span class="num">00</span><span class="count-label">Minutes</span>
                                  </div>
                                  <div class="second-left time-left"><span class="num">00</span><span class="count-label">Seconds</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->
        <div
          data-label="Button"
          id="e-1599242011071"
          class="element-wrap"
          data-icon="gpicon-gpicon-button"
          data-ver="1.0"
          data-id="1599242011071"
        >
          <div
            class="elm gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
          >
            <a
              class="button btn gf_button"
              href="tel:+51996821980"
              target=""
              data-scroll-speed-xs="2000"
              data-exc=""
              aria-describedby="a11y-external-message"
              data-scroll-speed="2000"
              data-scroll-speed-md="2000"
              data-scroll-speed-sm="2000"
              ><span>Solicita una demo</span></a
            >
          </div>
        </div>
        <br />
        <div
          data-label="Text Block"
          id="e-1599242011057"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1599242011057"
        >
          <div
            class="whatsapp-icon elm text-edit gf-elm-left gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
            data-gemlang="en"
            data-exc=""
          >
            <a
              class=""
              href="//api.whatsapp.com/send?phone=+51996821980&text=Hola,%20me%20interesa%20www.dametulista.com.%20Tengo%20las%20siguiente%20pregunta%20"
            >
              <img src="../../../assets//icons/whatsapp40dp.svg" alt=""
            /></a>
            <br /><br />
            <p>Válido para todo tipo de negocio</p>
          </div>
        </div>
      </div>
    </div>

    <!--gfsplit-->
    <div
      data-label="Row"
      id="r-1599242011158"
      class="gf_row gf_row-fluid gf_row-no-padding gf_row-gap-0"
      data-icon="gpicon-row"
      data-id="1599242011158"
      style="display: block"
      data-row-gap="0px"
      data-extraclass=""
    >
      <div
        class="gf_col-lg-12 gf_column"
        id="c-1593118037609"
        data-id="1593118037609"
        style="min-height: auto"
      >
        <div
          data-label="Row"
          id="r-1599242011127"
          class="section gf_row gf_row-fluid gf_row-no-padding gf_row-gap-0"
          data-icon="gpicon-row"
          data-id="1599242011127"
          data-extraclass=""
          data-row-gap="0px"
        >
          <div
            class="gf_column gf_col-lg-12 gf_col-md-12 gf_col-sm-12 gf_col-xs-12"
            id="c-1593121801969"
            data-id="1593121801969"
            style="min-height: auto"
          >
            <div class="gf-row">
              <div
                data-label="Heading"
                id="e-1599242011106"
                class="element-wrap"
                data-icon="gpicon-heading"
                data-ver="1"
                data-id="1599242011106"
              >
                <div
                  class="sub-title elm text-edit gf-elm-center"
                  data-gemlang="en"
                >
                  <h1><b>¿Cómo funciona?</b></h1>
                </div>
              </div>
              <div
                data-label="Row"
                id="r-1599242011091"
                class="gf_row gf_row-gap-10"
                data-icon="gpicon-row"
                data-id="1599242011091"
                data-vivaldi-spatnav-clickable="1"
                data-extraclass=""
                style=""
                data-row-gap="10px"
              >
                <div
                  class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-12"
                  id="c-1505553082233"
                  data-id="1505553082233"
                  style="min-height: auto"
                  data-extraclass=""
                >
                  <div
                    data-label="Image"
                    id="e-1599242011097"
                    class="element-wrap"
                    data-icon="gpicon-image"
                    data-id="1599242011097"
                    data-vivaldi-spatnav-clickable="1"
                    style=""
                  >
                    <div
                      class="elm gf-elm-center gf-elm-center-md gf-elm-center-lg gf-elm-center-xs gf-elm-center-sm"
                      data-exc=""
                    >
                      <img
                        src="https://ucarecdn.com/cb6439c3-1bc7-4a4b-95fd-d0ede28bca6a/-/format/auto/-/preview/2560x2560/-/quality/lighter/"
                        alt=""
                        class="gf_image"
                        data-vivaldi-spatnav-clickable="1"
                        style=""
                        title=""
                      />
                    </div>
                  </div>
                  <div
                    data-label="Heading"
                    id="e-1599242011076"
                    class="element-wrap"
                    data-icon="gpicon-heading"
                    data-id="1599242011076"
                    data-vivaldi-spatnav-clickable="1"
                  >
                    <div
                      class="elm text-edit gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-xs gf-elm-center-sm"
                      data-exc=""
                    >
                      <h2>
                        <span>
                          <font color="#1c1c25"
                            >1) Tu cliente ordena por tu tienda en linea</font
                          >
                        </span>
                      </h2>
                    </div>
                  </div>
                  <div
                    data-label="Separator"
                    id="e-1599242011130"
                    class="element-wrap"
                    data-icon="gpicon-separator"
                    data-ver="1"
                    data-id="1599242011130"
                  >
                    <div
                      class="elm gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                      data-align="left"
                      data-exc=""
                    >
                      <hr class="gf_separator" />
                    </div>
                  </div>
                  <div
                    data-label="Text Block"
                    id="e-1599242011034"
                    class="element-wrap"
                    data-icon="gpicon-textblock"
                    data-ver="1"
                    data-id="1599242011034"
                  >
                    <div
                      class="elm text-edit gf-elm-left gf-elm-center-xs gf-elm-left-lg gf-elm-left-md gf-elm-left-sm"
                      data-gemlang="en"
                      data-exc=""
                    >
                      <p>
                        Tendras una URL personalizada con el nombre de tu
                        tienda. Tus clientes podrán acceder y escoger los
                        productos que deseen.
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-12"
                  id="c-1505553082336"
                  data-id="1505553082336"
                  data-extraclass=""
                  style="min-height: auto"
                >
                  <div
                    data-label="Image"
                    id="e-1599242011065"
                    class="element-wrap"
                    data-icon="gpicon-image"
                    data-id="1599242011065"
                    data-vivaldi-spatnav-clickable="1"
                    style=""
                  >
                    <div
                      class="elm gf-elm-center gf-elm-center-md gf-elm-center-xs gf-elm-center-lg gf-elm-center-sm"
                      data-exc=""
                    >
                      <img
                        src="https://ucarecdn.com/afa695cc-b61e-4284-b631-e23b5ad68a3c/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                        alt=""
                        class="gf_image"
                        data-vivaldi-spatnav-clickable="1"
                        style=""
                        title=""
                      />
                    </div>
                  </div>
                  <div
                    data-label="Heading"
                    id="e-1599242011098"
                    class="element-wrap"
                    data-icon="gpicon-heading"
                    data-id="1599242011098"
                    data-vivaldi-spatnav-clickable="1"
                  >
                    <div
                      class="elm text-edit gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-xs gf-elm-center-sm"
                      data-exc=""
                    >
                      <h2>
                        <span>
                          <font color="#1c1c25"
                            >2) Recibe la órden directamente en WhatsApp</font
                          >
                        </span>
                      </h2>
                    </div>
                  </div>
                  <div
                    data-label="Separator"
                    id="e-1599242011107"
                    class="element-wrap"
                    data-icon="gpicon-separator"
                    data-ver="1"
                    data-id="1599242011107"
                  >
                    <div
                      class="elm gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                      data-align="left"
                      data-exc=""
                    >
                      <hr class="gf_separator" />
                    </div>
                  </div>
                  <div
                    data-label="Text Block"
                    id="e-1599242011121"
                    class="element-wrap"
                    data-icon="gpicon-textblock"
                    data-ver="1"
                    data-id="1599242011121"
                  >
                    <div
                      class="elm text-edit gf-elm-left gf-elm-center-xs"
                      data-gemlang="en"
                      data-exc=""
                    >
                      <p>
                        Entendemos que este medio te permite realizar ventas de
                        una forma fácil y rápida. La misma orden aparecerá en tu
                        cuenta de www.dametulista.com.
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-12"
                  id="c-1505553082229"
                  data-id="1505553082229"
                  data-extraclass=""
                  style="min-height: auto"
                >
                  <div
                    data-label="Image"
                    id="e-1599242011120"
                    class="element-wrap"
                    data-icon="gpicon-image"
                    data-id="1599242011120"
                    data-vivaldi-spatnav-clickable="1"
                    style=""
                  >
                    <div
                      class="elm gf-elm-center gf-elm-center-md gf-elm-center-lg gf-elm-center-sm gf-elm-center-xs"
                      data-exc=""
                    >
                      <img
                        src="https://ucarecdn.com/d2b24dac-eeb7-455a-ad66-c4df98b6c23c/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                        alt=""
                        class="gf_image"
                        data-vivaldi-spatnav-clickable="1"
                        style=""
                        title=""
                      />
                    </div>
                  </div>
                  <div
                    data-label="Heading"
                    id="e-1599242011085"
                    class="element-wrap"
                    data-icon="gpicon-heading"
                    data-id="1599242011085"
                    data-vivaldi-spatnav-clickable="1"
                  >
                    <div
                      class="elm text-edit gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                      data-exc=""
                    >
                      <h2>
                        <font color="#1c1c25"
                          ><span
                            >3️) Entrega y cobra la orden como desee</span
                          ></font
                        >
                      </h2>
                      <div>
                        <font color="#1c1c25"
                          ><span><br /></span
                        ></font>
                      </div>
                    </div>
                  </div>
                  <div
                    data-label="Separator"
                    id="e-1599242011061"
                    class="element-wrap"
                    data-icon="gpicon-separator"
                    data-ver="1"
                    data-id="1599242011061"
                  >
                    <div
                      class="elm gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                      data-align="left"
                      data-exc=""
                    >
                      <hr class="gf_separator" />
                    </div>
                  </div>
                  <div
                    data-label="Text Block"
                    id="e-1599242011080"
                    class="element-wrap"
                    data-icon="gpicon-textblock"
                    data-ver="1"
                    data-id="1599242011080"
                  >
                    <div
                      class="elm text-edit gf-elm-left gf-elm-center-xs"
                      data-gemlang="en"
                      data-exc=""
                    >
                      <p>
                        No te imponemos cómo entregar o cobrar por los productos
                        que vendas. Te ayudamos a que obtengas una lista clara,
                        ordenada y concreta de tus clientes. 😃
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="gf_row">
              <div
                data-label="Button"
                id="e-1599242011079"
                class="element-wrap"
                data-icon="gpicon-gpicon-button"
                data-ver="1.0"
                data-id="1599242011079"
              >
                <div
                  class="banner-demo elm gf-elm-center gf-elm-center-md gf-elm-center-sm gf-elm-center-lg gf-elm-center-xs"
                >
                  <a
                    class="button btn gf_button"
                    href="https://www.dametulista.com/envia-boleta-gratis"
                    target=""
                    data-scroll-speed-xs="2000"
                    data-exc=""
                    aria-describedby="a11y-external-message"
                    data-scroll-speed="2000"
                    data-scroll-speed-md="2000"
                    data-scroll-speed-sm="2000"
                  >
                    <span>¿Cómo llegarían mis órdenes?</span>
                    <br />
                    <br />
                    <span>¡Usa nuestro servicio gratuito !</span>
                    <br />
                    <br />
                    <span>para que tengas una idea!</span>
                  </a>
                </div>
              </div>
              <br />
              <div
                data-label="Text Block"
                id="e-1599242011116"
                class="element-wrap"
                data-icon="gpicon-textblock"
                data-ver="1"
                data-id="1599242011116"
              >
                <div
                  class="elm text-edit gf-elm-left gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
                  data-gemlang="en"
                  data-exc=""
                >
                  <p>Cancele u omita en cualquier momento.&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          data-label="Row"
          id="r-1599242011186"
          class="gf_row"
          data-icon="gpicon-row"
          data-id="1599242011186"
          data-extraclass=""
        >
          <div
            class="gf_column gf_col-lg-12 gf_col-md-12 gf_col-sm-12 gf_col-xs-12"
            id="c-1596752846161"
            data-id="1596752846161"
            style="min-height: auto"
          >
            <!-- <div data-label="Heading" id="e-1599242011148" class="element-wrap" data-icon="gpicon-heading" data-ver="1"
              data-id="1599242011148">
              <div class="sub-title elm text-edit gf-elm-center" data-gemlang="en">
                <h1>Muchos ya empezaron con dametulista.com/<b>el-nombre-de-tu-tienda</b></h1>
              </div>
            </div> -->
            <div
              data-label="Heading"
              id="e-1599242011106"
              class="element-wrap"
              data-icon="gpicon-heading"
              data-ver="1"
              data-id="1599242011106"
            >
              <div
                class="sub-title elm text-edit gf-elm-center"
                data-gemlang="en"
              >
                <h1><b>¿Por qué Dame tu Lista?</b></h1>
              </div>
            </div>
            <div
              data-label="Row"
              id="r-1599242011074"
              class="gf_row"
              data-icon="gpicon-row"
              data-id="1599242011074"
              data-extraclass=""
            >
              <div
                class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-4"
                id="c-1596837566191"
                data-id="1596837566191"
                style="min-height: auto"
              >
                <div
                  data-label="Image"
                  id="e-1599242011167"
                  class="element-wrap"
                  data-icon="gpicon-image"
                  data-ver="1.0"
                  data-id="1599242011167"
                >
                  <div
                    class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-lg gf-elm-center-sm gf-elm-center-md"
                    data-exc=""
                  >
                    <img
                      src="https://ucarecdn.com/a52c2bb7-5615-427c-8860-c5bdaf58bc53/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                      alt=""
                      class="gf_image"
                      data-gemlang="en"
                      title=""
                    />
                  </div>
                </div>
                <div
                  data-label="Heading"
                  id="e-1599242011136"
                  class="element-wrap"
                  data-icon="gpicon-heading"
                  data-ver="1"
                  data-id="1599242011136"
                >
                  <div
                    class="elm text-edit gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-xs gf-elm-center-sm"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <h1>Ahorra tiempo</h1>
                  </div>
                </div>
                <div
                  data-label="Text Block"
                  id="e-1599242011073"
                  class="element-wrap"
                  data-icon="gpicon-textblock"
                  data-ver="1"
                  data-id="1599242011073"
                >
                  <div
                    class="elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <p>
                      ¿Porqué atender un cliente a la vez? Atiende 8 ó 10. Se
                      productivo.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-4"
                id="c-1596837571587"
                data-id="1596837571587"
                style="min-height: auto"
              >
                <div
                  data-label="Image"
                  id="e-1599242011069"
                  class="element-wrap"
                  data-icon="gpicon-image"
                  data-ver="1.0"
                  data-id="1599242011069"
                >
                  <div
                    class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-lg gf-elm-center-sm gf-elm-center-md"
                    data-exc=""
                  >
                    <img
                      src="https://ucarecdn.com/e2ce6fe0-88a0-4cde-a38e-6f7253faaac3/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                      alt=""
                      class="gf_image"
                      data-gemlang="en"
                      title=""
                    />
                  </div>
                </div>
                <div
                  data-label="Heading"
                  id="e-1599242011124"
                  class="element-wrap"
                  data-icon="gpicon-heading"
                  data-ver="1"
                  data-id="1599242011124"
                >
                  <div
                    class="elm text-edit gf-elm-center gf-elm-left-xs gf-elm-center-lg gf-elm-center-sm gf-elm-center-md"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <h1>Genera más ingresos</h1>
                  </div>
                </div>
                <div
                  data-label="Text Block"
                  id="e-1599242011022"
                  class="element-wrap"
                  data-icon="gpicon-textblock"
                  data-ver="1"
                  data-id="1599242011022"
                >
                  <div
                    class="elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <p>
                      Con este nuevo canal de venta, tus pedidos llegaran rápido
                      y cerraras más ventas.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-4"
                id="c-1596837571546"
                data-id="1596837571546"
                style="min-height: auto"
              >
                <div
                  data-label="Image"
                  id="e-1599242011086"
                  class="element-wrap"
                  data-icon="gpicon-image"
                  data-ver="1.0"
                  data-id="1599242011086"
                >
                  <div
                    class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-lg gf-elm-center-sm gf-elm-center-md"
                    data-exc=""
                  >
                    <img
                      src="https://ucarecdn.com/465d7efe-7780-4579-83a0-b48b5e22106f/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                      alt=""
                      class="gf_image"
                      data-gemlang="en"
                      title=""
                    />
                  </div>
                </div>
                <div
                  data-label="Heading"
                  id="e-1599242011185"
                  class="element-wrap"
                  data-icon="gpicon-heading"
                  data-ver="1"
                  data-id="1599242011185"
                >
                  <div
                    class="elm text-edit gf-elm-center gf-elm-center-lg gf-elm-center-md gf-elm-center-xs gf-elm-center-sm"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <h1>Piensa en la salud de tus clientes.</h1>
                  </div>
                </div>
                <div
                  data-label="Text Block"
                  id="e-1599242011163"
                  class="element-wrap"
                  data-icon="gpicon-textblock"
                  data-ver="1"
                  data-id="1599242011163"
                >
                  <div
                    class="elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                    data-gemlang="en"
                    data-exc=""
                  >
                    En tiempos difíciles, proteger a tus clientes y a los tuyos
                    es tarea de todos.
                  </div>
                </div>
              </div>
            </div>
            <div
              data-label="Row"
              id="r-1599242011174"
              class="gf_row"
              data-icon="gpicon-row"
              data-id="1599242011174"
              data-extraclass=""
            >
              <div
                class="gf_column gf_col-lg-3 gf_col-md-3 gf_col-sm-3 gf_col-xs-3"
                id="c-1596753491269"
                data-id="1596753491269"
                style="min-height: auto"
              >
                <div
                  data-label="Image"
                  id="e-1599242011059"
                  class="element-wrap"
                  data-icon="gpicon-image"
                  data-ver="1.0"
                  data-id="1599242011059"
                >
                  <div
                    class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
                    data-exc=""
                  >
                    <img
                      src="https://ucarecdn.com/a52c2bb7-5615-427c-8860-c5bdaf58bc53/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                      alt=""
                      class="gf_image"
                      data-gemlang="en"
                      title=""
                    />
                  </div>
                </div>
              </div>
              <div
                class="gf_column gf_col-lg-9 gf_col-md-9 gf_col-sm-9 gf_col-xs-9"
                id="c-1596753525203"
                data-id="1596753525203"
                style="min-height: auto"
              >
                <div
                  data-label="Heading"
                  id="e-1599242011081"
                  class="element-wrap"
                  data-icon="gpicon-heading"
                  data-ver="1"
                  data-id="1599242011081"
                >
                  <div
                    class="elm text-edit gf-elm-center gf-elm-left-xs gf-elm-left-lg gf-elm-left-md gf-elm-left-sm"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <h1>Ahorra tiempo</h1>
                  </div>
                </div>
                <div
                  data-label="Text Block"
                  id="e-1599242011042"
                  class="element-wrap"
                  data-icon="gpicon-textblock"
                  data-ver="1"
                  data-id="1599242011042"
                >
                  <div class="elm text-edit gf-elm-left" data-gemlang="en">
                    <p>
                      ¿Porqué atender un cliente a la vez? Atiende 8 ó 10. Se
                      productivo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-label="Row"
              id="r-1599242011147"
              class="gf_row"
              data-icon="gpicon-row"
              data-id="1599242011147"
              data-extraclass=""
            >
              <div
                class="gf_column gf_col-lg-3 gf_col-md-3 gf_col-sm-3 gf_col-xs-3"
                id="c-1596753491269"
                data-id="1596753491269"
                style="min-height: auto"
              >
                <div
                  data-label="Image"
                  id="e-1599242011016"
                  class="element-wrap"
                  data-icon="gpicon-image"
                  data-ver="1.0"
                  data-id="1599242011016"
                >
                  <div
                    class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
                    data-exc=""
                  >
                    <img
                      src="https://ucarecdn.com/e2ce6fe0-88a0-4cde-a38e-6f7253faaac3/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                      alt=""
                      class="gf_image"
                      data-gemlang="en"
                      title=""
                    />
                  </div>
                </div>
              </div>
              <div
                class="gf_column gf_col-lg-9 gf_col-md-9 gf_col-sm-9 gf_col-xs-9"
                id="c-1596753525203"
                data-id="1596753525203"
                style="min-height: auto"
              >
                <div
                  data-label="Heading"
                  id="e-1599242011054"
                  class="element-wrap"
                  data-icon="gpicon-heading"
                  data-ver="1"
                  data-id="1599242011054"
                >
                  <div
                    class="elm text-edit gf-elm-center gf-elm-left-xs gf-elm-left-lg gf-elm-left-md gf-elm-left-sm"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <h1>Genera más ingresos</h1>
                  </div>
                </div>
                <div
                  data-label="Text Block"
                  id="e-1599242011035"
                  class="element-wrap"
                  data-icon="gpicon-textblock"
                  data-ver="1"
                  data-id="1599242011035"
                >
                  <div class="elm text-edit gf-elm-left" data-gemlang="en">
                    <p>
                      Con este nuevo canal de venta, tus pedidos llegaran rápido
                      y cerraras más ventas.!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-label="Row"
              id="r-1599242011153"
              class="gf_row"
              data-icon="gpicon-row"
              data-id="1599242011153"
              data-extraclass=""
            >
              <div
                class="gf_column gf_col-lg-3 gf_col-md-3 gf_col-sm-3 gf_col-xs-3"
                id="c-1596753491269"
                data-id="1596753491269"
                style="min-height: auto"
              >
                <div
                  data-label="Image"
                  id="e-1599242011060"
                  class="element-wrap"
                  data-icon="gpicon-image"
                  data-ver="1.0"
                  data-id="1599242011060"
                >
                  <div
                    class="elm gf-elm-center gf_elm-left-xs gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
                    data-exc=""
                  >
                    <img
                      src="https://ucarecdn.com/465d7efe-7780-4579-83a0-b48b5e22106f/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                      alt=""
                      class="gf_image"
                      data-gemlang="en"
                      title=""
                    />
                  </div>
                </div>
              </div>
              <div
                class="gf_column gf_col-lg-9 gf_col-md-9 gf_col-sm-9 gf_col-xs-9"
                id="c-1596753525203"
                data-id="1596753525203"
                style="min-height: auto"
              >
                <div
                  data-label="Heading"
                  id="e-1599242011100"
                  class="element-wrap"
                  data-icon="gpicon-heading"
                  data-ver="1"
                  data-id="1599242011100"
                >
                  <div
                    class="elm text-edit gf-elm-center gf-elm-left-xs gf-elm-left-lg gf-elm-left-md gf-elm-left-sm"
                    data-gemlang="en"
                    data-exc=""
                  >
                    <h1>La salud es lo primero.</h1>
                  </div>
                </div>
                <div
                  data-label="Text Block"
                  id="e-1599242011122"
                  class="element-wrap"
                  data-icon="gpicon-textblock"
                  data-ver="1"
                  data-id="1599242011122"
                >
                  <div class="elm text-edit gf-elm-left" data-gemlang="en">
                    Protege a tus clientes y a los tuyos es tarea de todos.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Dudas y preguntas -->
        <div
          data-label="Row"
          id="r-1599242011082"
          class="gf_row section"
          data-icon="gpicon-row"
          data-id="1599242011082"
        >
          <div
            class="gf_col-lg-12 gf_column"
            id="c-1599006340828"
            data-id="1599006340828"
          >
            <div
              data-label="Heading"
              id="e-1599242011132"
              class="element-wrap"
              data-icon="gpicon-heading"
              data-ver="1"
              data-id="1599242011132"
            >
              <div
                class="sub-title elm text-edit gf-elm-center"
                data-gemlang="en"
              >
                <h1><b>¿Preguntas o dudas?</b></h1>
              </div>
            </div>
            <br />
            <div
              data-label="Text Block"
              id="e-1599242011142"
              class="element-wrap"
              data-icon="gpicon-textblock"
              data-ver="1"
              data-id="1599242011142"
            >
              <div
                class="elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
                data-gemlang="en"
                data-exc=""
              >
                <!-- <p>Creemos que una cominicación efectiva es la base para entendernos en sociedad.</p> -->
                <p>Estaremos muy contentos de absolver tus dudas y preguntas</p>
                <p>telefónicamente en el momento que lo necesites.</p>
                <!-- <p><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;">Email:
                                          hello@ocomeals.com&nbsp;</span><span style="color: inherit; font-family: inherit; font-size: inherit; text-align: inherit; letter-spacing: 0px;"></span>
                                  </p> -->
                <br />
                <div class="whatsapp-icon">
                  <a
                    href="//api.whatsapp.com/send?phone=+51996821980&text=Hola,%20me%20interesa%20www.dametulista.com.%20Tengo%20las%20siguiente%20pregunta%20"
                  >
                    <img src="../../../assets//icons/whatsapp40dp.svg" alt=""
                  /></a>
                </div>
                <br />
                <p>WhatsApp: +51996821980</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--gfsplit-->
    <div
      data-label="Row"
      id="r-1599242011154"
      class="gf_row"
      data-icon="gpicon-row"
      data-id="1599242011154"
    >
      <div
        class="gf_col-lg-12 gf_column"
        id="c-1599177948978"
        data-id="1599177948978"
      >
        <div
          data-label="Button"
          id="e-1599242011109"
          class="element-wrap"
          data-icon="gpicon-gpicon-button"
          data-ver="1.0"
          data-id="1599242011109"
        >
          <div
            class="banner-demo elm gf-elm-center gf-elm-center-md gf-elm-center-sm gf-elm-center-xs gf-elm-center-lg"
          >
            <a
              class="button btn gf_button"
              href="//api.whatsapp.com/send?phone=+51996821980&text=Hola,%20me%20interesa%20www.dametulista.com.%20Tengo%20las%20siguiente%20pregunta%20"
              target=""
              data-scroll-speed-xs="2000"
              data-exc=""
              aria-describedby="a11y-external-message"
              data-scroll-speed="2000"
              data-scroll-speed-md="2000"
              data-scroll-speed-sm="2000"
              ><span>Empieza ahora</span></a
            >
          </div>
        </div>
        <br />
        <div
          data-label="Text Block"
          id="e-1599242011118"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1599242011118"
        >
          <div
            class="elm text-edit gf-elm-left gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
            data-gemlang="en"
            data-exc=""
          >
            <p>Cancele u omita en cualquier momento.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div
      data-label="Row"
      id="r-1599242011154"
      class="gf_row section"
      data-icon="gpicon-row"
      data-id="1599242011154"
    >
      <div
        class="gf_col-lg-12 gf_column"
        id="c-1599177948978"
        data-id="1599177948978"
      >
        <div
          data-label="Text Block"
          id="e-1599242011118"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1599242011118"
        >
          <div
            class="elm text-edit gf-elm-left gf-elm-center-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm"
            data-gemlang="en"
            data-exc=""
          >
            <p>Hecho con mucho ❤️ en Perû. © 2020-2021.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <!--gfsplit-->
  </div>
  <div id="divContentBk"></div>
  <!--End_Gem_Page_Main_Editor-->
  <!--GEM_FOOTER-->

  <!--GEM_FOOTER_END-->
</div>
<!-- end .gem-container -->
<!--Gem_Page_Footer_Script-->

<!-- 


</body>

</html> -->
