
<div class="display-deatail-style">
    <h1 mat-dialog-title>{{product.name}}</h1>
    <div mat-dialog-content>

        <mat-button-toggle-group  [(ngModel)]="isKilogramsOrUnits">
            <mat-button-toggle value="Kilos"  ngDefaultControl>Kilo</mat-button-toggle>
            <mat-button-toggle value="Unidades"  ngDefaultControl> Unidades</mat-button-toggle>
        </mat-button-toggle-group>

        <br>
        <br>

        <div *ngIf="isKilogramsOrUnits == 'Kilos'">
            <mat-form-field>
                <mat-label>Cuántos kilos </mat-label>
                <input matInput [(ngModel)]="product.weigth">
            </mat-form-field>
        </div>
        <div *ngIf="isKilogramsOrUnits == 'Unidades'">
            <mat-form-field>
                <mat-label>Cuántas unidades </mat-label>
                <input matInput [(ngModel)]="product.quantity">
            </mat-form-field>
        </div>

        <br>

        <div *ngIf="product.weigth || product.quantity">
            <mat-form-field>
                <mat-label>Varidad: </mat-label>
                <input matInput [(ngModel)]="product.type">
            </mat-form-field>
        </div>

        <div *ngIf="product.type">
            <mat-button-toggle-group  [(ngModel)]="product.size">
                <mat-button-toggle value="small"  ngDefaultControl>Pequeño</mat-button-toggle>
                <mat-button-toggle value="medium"  ngDefaultControl>Mediano</mat-button-toggle>
                <mat-button-toggle value="big"  ngDefaultControl> Grande</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <br>

        <div *ngIf="product.size">
            <mat-form-field>
                <mat-select placeholder="Que medure..." name="product.last_for" 
                    (selectionChange)="ChangeAction(product.last_for)" 
                    [(ngModel)]="product.last_for">
                    <mat-option *ngFor="let last_for_item of last_for_List"
                    [value]="last_for_item" >{{last_for_item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
    </div>
    <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="product" cdkFocusInitial>Agregar</button>
   
    <!-- //////  Child parent comunication implementation ////// -->
    <!-- <button mat-button (click)="sendProductDetailToProductDisplay(product)" cdkFocusInitial>Agregar</button> -->
    <!-- //////  Child parent comunication implementation ////// -->
   
</div>


</div>