<div class="payment_wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="style_title">
    <h1>Forma de pago</h1>
  </div>

  <form [formGroup]="paymenytForm">
    <!-- <div
        [ngClass]="{
          payment_form_grid: data.isFreeBill ? false : !currentUser ? true : false
        }"
      > -->
    <div
      [ngClass]="{
        payment_form_grid: !currentUser ? true : false
      }"
    >
      <ng-container
        *ngIf="!currentUser; then showPaymentMethods; else showNothing"
      >
      </ng-container>

      <ng-template #showPaymentMethods>
        <div class="img_pos_area">
          <img src="../../../../../assets/icons/edc.svg" alt="" />
        </div>
        <div class="pos_method_area">
          <input
            type="radio"
            value="upon_delivery_pos"
            formControlName="paymentMethod"
          />
          POS <br />
          Contraentrega
        </div>

        <div class="img_deposit_area">
          <img src="../../../../../assets/icons/cheque.svg" alt="" />
        </div>
        <div class="deposit_method_area">
          <input
            type="radio"
            value="bank_deposit"
            formControlName="paymentMethod"
          />
          Depósito <br />
          Bancario
        </div>

        <div class="img_cash_area">
          <img src="../../../../../assets/icons/cash-payment.svg" alt="" />
        </div>
        <div class="cash_method_area">
          <input
            type="radio"
            value="upon_delivery_cash"
            formControlName="paymentMethod"
          />
          Efectivo <br />
          Contraentrega
        </div>
      </ng-template>

      <ng-template #showNothing></ng-template>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button
        mat-button
        [mat-dialog-close]="paymenytForm.value"
        [disabled]="!paymenytForm.valid"
        cdkFocusInitial
      >
        Continuar
      </button>
    </div>
  </form>
</div>
