<div class="payment_wrapper" fxLayout="column" fxLayoutAlign="center center">
    
    <div class="style_title">
        <h1> 
            <img src="../../../../../assets/icons/credit-card.svg" alt="">
            {{ currentUser ? 'Número del comprador' : 'Forma de pago'}}
        </h1>
    </div>
    
    <form [formGroup]='paymenytForm'>
        

        <div class="payment_form_grid" >

            <ng-container *ngIf="!currentUser;
                then showPaymentMethods ;
                else showNothing">

            </ng-container>

            <ng-template #showPaymentMethods>

                <div class="img_pos_area">
                    <img src="../../../../../assets/icons/edc.svg" alt="">
                </div>
                <div class="pos_method_area">
                    <input type="radio" value="upon_delivery_pos" formControlName ="paymentMethod">
                    POS  <br> Contraentrega
                </div>
    
                <div class="img_deposit_area">
                    <img src="../../../../../assets/icons/cheque.svg" alt="">
                </div>
                <div class="deposit_method_area">
                    <input type="radio" value="bank_deposit" formControlName ="paymentMethod">
                    Depósito <br> Bancario
                </div>
    
                <div class="img_cash_area">
                    <img src="../../../../../assets/icons/cash-payment.svg" alt="">
                </div>
                <div class="cash_method_area">
                    <input type="radio" value="upon_delivery_cash" formControlName ="paymentMethod">
                    Efectivo <br> Contraentrega
                </div>
            </ng-template>

            <ng-template #showNothing></ng-template>


            <!-- <ng-template #showPhoneNumberField> -->
                <div class="phone_number_area">

                

                    <mat-form-field >
                        <mat-label>Número de celular: </mat-label>
                        <span matPrefix>+51 &nbsp;</span>
                        <input matInput placeholder="999-999-999"
                            name="phoneNumber"
                            type="tel"
                            formControlName="phoneNumber">
                    </mat-form-field>

                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+1 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field> -->
                </div>
            <!-- </ng-template> -->

        </div>


        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button [mat-dialog-close]="paymenytForm.value" 
                    [disabled]="!paymenytForm.valid" cdkFocusInitial>Continuar</button>
        </div> 
       
    </form>

</div>
