@import "../../../../styles/scss/variables"

@mixin login-theme($custom-theme) 
  $primary: map-get($theme, primary)
  $warn: map-get($theme, warn)
  $background: map-get($theme, background)
  $foreground: map-get($theme, foreground)

.payment_wrapper

  .style_title
    color: mat-color($primary, default, 1)
    
    h1
      font-size: 25px


  .btn_block
    width: 100%
    background-color: mat-color($primary, lighter, 1)
    border: none

  .style_error_message
    color: #fd8686
    font-size: 12px
    text-align: center
  
  .sing-up-section
    font-size: 14px  


.payment_form_grid
  display: grid
  width: 320px
  grid-template-columns: 1fr 1fr  
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr
  grid-template-areas: "img_pos img_dep" "pos dep" "img_cash ." "cash ." " phone phone"
  grid-gap: 5px


  .pos_method_area
    text-align: center
    grid-area: pos


  .deposit_method_area
    text-align: center
    grid-area: dep

  .cash_method_area
    text-align: center
    grid-area: cash

  .phone_number_area
    text-align: center
    grid-area: phone
    width: 100%


  .img_pos_area
    grid-area: img_pos
    justify-self: center
    

  .img_deposit_area
    grid-area: img_dep
    justify-self: center
    

  .img_cash_area
    grid-area: img_cash
    justify-self: center
    
 











    //   .payment_form
    //   img
    //     justify-self: center 
    //     padding: 2px    
    
    //   .row
    //     display: flex
    //     width: 100%     