<hr>

<h1 class="style_question">
    {{question}}
</h1>

<ng-container *ngFor='let cartProduct of cartProducts'>

    <div class="cart_product_grid">

        <app-cart-product 
            [cartProduct]="cartProduct"
            (cartProductUpdated)="onCartProductUpdate($event)">
        </app-cart-product>
    
    </div>

</ng-container>

<div class="style_empty_space"></div>

<button class="style_checkout_button"
 (click)="submitOrder()">
    {{place_order_message}}
    <button class="style_total_price_button">{{totalCartPriceStr}}</button>
</button>